@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Identity
@using linc.Data
@using linc.Utility

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var currentCulture = requestCulture?.RequestCulture.UICulture.Name ?? "bg";
}

<!DOCTYPE html>
<html lang="@currentCulture">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    @* TODO: SEO here *@
    <title>@ViewData["Title"] - linc</title>
    <meta content="@ViewData["Description"]" name="description">
    <meta content="@ViewData["Keywords"]" name="keywords">

    @* TODO: трябва да се смени favicon-ата *@

    <!-- Favicons -->
    <link href="~/img/favicon.png" rel="icon">
    <link href="~/img/apple-touch-icon.png" rel="apple-touch-icon">
    
    @* TODO: ревизирай фонтовете на сайта *@

    <!-- Google Fonts -->
    @* font-family: 'Piazzolla', serif; *@
    @* font-family: 'Roboto', sans-serif; *@
    @* font-family: 'Tinos', serif; *@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Piazzolla:ital,opsz,wght@0,8..30,300;0,8..30,400;0,8..30,500;0,8..30,600;0,8..30,700;1,8..30,300;1,8..30,400;1,8..30,500;1,8..30,600;1,8..30,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    @* TODO: Heavily revise if all of these are necessary *@
    <link href="~/lib/aos/aos.css" rel="stylesheet">
    <link href="~/lib/flag-icons/css/flag-icons.min.css" rel="stylesheet">
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet">
    <link href="~/lib/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/lib/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/lib/Swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/css/bizland.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: BizLand
    * Updated: Sep 18 2023 with Bootstrap v5.3.2
    * Template URL: https://bootstrapmade.com/bizland-bootstrap-business-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
    
    <!-- Site Overrides CSS File -->
    <link href="~/css/site.css" rel="stylesheet">

</head>

<body>
    <!-- ======= Top Bar ======= -->
    <section id="topbar" class="d-flex align-items-center">
        <div class="container d-flex justify-content-end justify-content-sm-between">
            <div class="d-none d-sm-flex align-items-center">
                <span>@HtmlLocalizer["Logo_Long"]</span>
            </div>
            <div class="d-flex align-items-center">
                <form id="set_language" asp-controller="Home" asp-action="SetLanguage">
                    <environment exclude="Production">
                        @* <span class="me-2">Session: @Context.Session.GetString("Hi")</span> *@
                        <span class="me-2">Editable: @TempData.Peek("Editable")</span>
                        <span class="me-2">Languague: @currentCulture</span>
                    </environment>
                    @foreach (var supportedCulture in SiteConstant.SupportedCultures.Values)
                    {
                        <button id="language_@supportedCulture" name="culture" value="@supportedCulture" type="submit"
                                class="btn @(supportedCulture == currentCulture ? "active" : "")">
                            <i class="fi fi-@supportedCulture"></i>
                        </button>
                    }
                </form>
            </div>
        </div>
    </section>

    <!-- ======= Header ======= -->
    <header id="header" class="d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-between">

            <h1 class="logo">
                <a href="/">@HtmlLocalizer["Logo_Short"]<span>.</span></a>
            </h1>

            <nav id="navbar" class="navbar">
                <ul>
                    <li>
                        <a class="nav-link scrollto " asp-controller="Home" asp-action="Index" asp-fragment="hero">@HtmlLocalizer["NavItem_Home"]</a>
                    </li>
                    <li>
                        <a class="nav-link scrollto" asp-controller="Home" asp-action="Index" asp-fragment="about">@HtmlLocalizer["NavItem_About"]</a>
                    </li>
                    <li>
                        <a class="nav-link scrollto" asp-controller="Home" asp-action="Index" asp-fragment="codex">@HtmlLocalizer["NavItem_Services"]</a>
                    </li>
                    <li>
                        <a class="nav-link scrollto " asp-controller="Home" asp-action="Index" asp-fragment="portfolio">@HtmlLocalizer["NavItem_Portfolio"]</a>
                    </li>
                    <li>
                        <a class="nav-link scrollto" asp-controller="Home" asp-action="Index" asp-fragment="team">@HtmlLocalizer["NavItem_Team"]</a>
                    </li>
                    <li class="dropdown">
                        <a class="nav-link" href="#">
                            <span>@HtmlLocalizer["NavItem_Index"]</span> 
                            <i class="bi bi-chevron-down"></i>
                        </a>
                        <ul>
                            <li>
                                <a href="#">@HtmlLocalizer["Category_All"]</a>
                            </li>
                            <li class="divider">
                                <hr />
                            </li>
                            <li>
                                <a href="#">@HtmlLocalizer["Category_Articles"]</a>
                            </li>
                            <li>
                                <a href="#">@HtmlLocalizer["Category_Analyses"]</a>
                            </li>
                            <li>
                                <a href="#">@HtmlLocalizer["Category_Surveys"]</a>
                            </li>
                            <li>
                                <a href="#">@HtmlLocalizer["Category_Discussions"]</a>
                            </li>
                            <li>
                                <a href="#">@HtmlLocalizer["Category_Reviews"]</a>
                            </li>
                            <li>
                                <a href="#">@HtmlLocalizer["Category_Chronicles"]</a>
                            </li>
                            <li>
                                <a href="#">@HtmlLocalizer["Category_Foreign"]</a>
                            </li>
                            <li class="divider">
                                <hr />
                            </li>
                            <li class="dropdown">
                                <a class="nav-link" href="#">
                                    <span>@HtmlLocalizer["NavItem_IndexByYears"]</span>
                                    <i class="bi bi-chevron-right"></i>
                                </a>
                                <ul>
                                    @{
                                        const int beginYear = 2024;
                                        var currentYear = DateTime.Now.Year;
                                        var year = currentYear;

                                        do
                                        {
                                            <li>
                                                <a href="#">@year</a>
                                            </li>

                                        } while (--year >= beginYear);

                                    }
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="nav-link scrollto" asp-controller="Home" asp-action="Index" asp-fragment="contact">@HtmlLocalizer["NavItem_Contact"]</a>
                    </li>

                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li class="dropdown">
                            <a class="nav-link" href="#">
                                <span>@UserManager.GetUserName(User)</span>
                                <i class="bi bi-chevron-down"></i>
                            </a>
                            <ul>
                                <li>
                                    <a id="manage" asp-area="Identity" asp-page="/Account/Manage/Index">@HtmlLocalizer["NavItem_MyProfile"]</a>
                                </li>
                                @if (User.IsAtLeast(SiteRole.Editor))
                                {
                                    if (TempData.ContainsKey("Editable"))
                                    {
                                        <li>
                                            <a asp-controller="Home" asp-action="Edit">@HtmlLocalizer["NavItem_EditModeDisable"]</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <a asp-controller="Home" asp-action="Edit">@HtmlLocalizer["NavItem_EditModeEnable"]</a>
                                        </li>
                                    }

                                    <li>
                                        <a href="#">@HtmlLocalizer["NavItem_Submissions"]</a>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <a href="#">@HtmlLocalizer["NavItem_MySubmissions"]</a>
                                    </li>
                                }
                            </ul>
                        </li>
                        <li>
                            <a class="nav-link submit-link" href="#logoutForm">@HtmlLocalizer["NavItem_Logout"]</a>
                            <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" 
                                  asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            </form>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a class="nav-link" id="register" asp-area="Identity" asp-page="/Account/Register">@HtmlLocalizer["NavItem_Register"]</a>
                        </li>
                        <li>
                            <a class="nav-link" id="login" asp-area="Identity" asp-page="/Account/Login">@HtmlLocalizer["NavItem_Login"]</a>
                        </li>
                    }

                </ul>

                <i class="bi bi-list mobile-nav-toggle"></i>

            </nav>
            <!-- .navbar -->

        </div>
    </header>
    <!-- End Header -->

    @if (IsSectionDefined("Hero"))
    {
        @await RenderSectionAsync("Hero")
    } 
    else if (IsSectionDefined("Breadcrumbs"))
    {
        @await RenderSectionAsync("Breadcrumbs")
    }

    <!-- ======= #main ======= -->
    <main id="main" @*data-aos="fade-up"*@>
        
        @if ("Identity".Equals(ViewData["Area"]))
        {
            <section class="identity">
                <div class="container">
                    @RenderBody()
                </div>
            </section>
        }
        else
        {
            @RenderBody()
        }

    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
        
        @if (IsSectionDefined("Newsletter"))
        {
            @await RenderSectionAsync("Newsletter")
        } 
        else if ("Identity".Equals(ViewData["Area"]))
        {
            <partial name="_Newsletter"/>
        }

        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h3>Адрес на редакцията<span>.</span></h3>
                        <p>
                            @HtmlLocalizer["Footer_Address_Street"],<br>
                            @HtmlLocalizer["Footer_Address_City"],<br>
                            @HtmlLocalizer["Footer_Address_Country"] <br><br>
                            <strong>@HtmlLocalizer["Footer_Admin_Label"]:</strong> @SiteConstant.AdministratorEmail<br>
                            @* <strong>@HtmlLocalizer["Footer_Phone_Label"]:</strong> +359 876 72 72 78<br> *@
                            <strong>@HtmlLocalizer["Footer_Redaction_Label"]:</strong> @SiteConstant.ReviewsEmail<br>
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>@HtmlLocalizer["Footer_UsefulLinks_Title"]</h4>
                        @* TODO: Link these to pages *@
                        <ul>
                            <li>
                                <i class="bx bx-chevron-right"></i> <a href="#">@HtmlLocalizer["Footer_UsefulLinks_Codex"]</a>
                            </li>
                            <li>
                                <i class="bx bx-chevron-right"></i> <a href="#">@HtmlLocalizer["Footer_UsefulLinks_SubmitGuidance"]</a>
                            </li>
                            <li>
                                <i class="bx bx-chevron-right"></i> <a href="#">@HtmlLocalizer["Footer_UsefulLinks_TermsOfService"]</a>
                            </li>
                            <li>
                                <i class="bx bx-chevron-right"></i> <a href="#">@HtmlLocalizer["Footer_UsefulLinks_PrivacyPolicy"]</a>
                            </li>
                            <li>
                                <i class="bx bx-chevron-right"></i> <a href="#">@HtmlLocalizer["Footer_UsefulLinks_Cookies"]</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>@HtmlLocalizer["Footer_Suggestions_Title"]</h4>
                        <ul>
                            @foreach (var suggestion in ContentService.GetSuggestions())
                            {
                                <li>
                                    <i class="bx bx-chevron-right"></i> <a href="@suggestion.Href">@suggestion.Content</a>
                                </li>
                            }
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>@HtmlLocalizer["Footer_Social_Title"]</h4>
                        <p>@HtmlLocalizer["Footer_Social_Description"]</p>
                        
                        @* TODO: Допълнителни сайтове/социални мрежи *@

                        <ul>
                            <li>
                                <i class="bx bx-chevron-right"></i> <a href="https://litmis.eu/">ЛИТЕРАТУРНА МИСЪЛ</a>
                            </li>
                            <li>
                                <i class="bx bx-chevron-right"></i> <a href="https://slovo.uni-plovdiv.bg/">Филологически факултет на Пловдивски университет</a>
                            </li>
                            <li>
                                <i class="bx bx-chevron-right"></i> <a href="https://liternet.bg/">LiterNet</a>
                            </li>
                        </ul>
                        @*<div class="social-links mt-3">
                            <a href="#" class="twitter">
                                <i class="bi bi-twitter-x"></i>
                            </a>
                            <a href="#" class="facebook">
                                <i class="bi bi-facebook"></i>
                            </a>
                            <a href="#" class="instagram">
                                <i class="bx bxl-instagram"></i>
                            </a>
                            <a href="#" class="google-plus">
                                <i class="bx bxl-google-plus"></i>
                            </a>
                            <a href="#" class="linkedin">
                                <i class="bx bxl-linkedin"></i>
                            </a>
                        </div>*@
                    </div>

                </div>
            </div>
        </div>
        
        <cache expires-after="@TimeSpan.FromDays(30)">
            <div class="container py-4">
                <div class="copyright">

                    @{
                        var version = typeof(Program)
                            .Assembly
                            .GetName()
                            .Version?
                            .ToString() ?? "0.0.1"; // NOTE: Indicates a problem!
                    }

                    @SiteConstant.AdministratorUserName; @HtmlLocalizer["Version_Label"]: @version
                    - 2024 &copy; Copyright
                    <strong>
                        <span>BizLand</span>
                    </strong> Theme. @HtmlLocalizer["Copyright_Label"].
                </div>
                <div class="credits">
                    <!-- All the links in the footer should remain intact. -->
                    <!-- You can delete the links only if you purchased the pro version. -->
                    <!-- Licensing information: https://bootstrapmade.com/license/ -->
                    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/bizland-bootstrap-business-template/ -->
                    Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                </div>
            </div>
        </cache>
    </footer>
    <!-- End Footer -->

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
        <i class="bi bi-arrow-up-short"></i>
    </a>

    <!-- Vendor JS Files -->
    @* TODO: Heavily revise if all of these are necessary *@
    <script src="~/lib/jquery/jquery.min.js"></script>
    @* <script src="~/lib/jquery-validate/jquery.validate.min.js"></script> *@
    @* <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script> *@
    <script src="~/lib/purecounterjs/dist/purecounter_vanilla.min.js"></script>
    <script src="~/lib/aos/aos.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/glightbox/js/glightbox.min.js"></script>
    <script src="~/lib/isotope-layout/dist/isotope.pkgd.min.js"></script>
    <script src="~/lib/Swiper/swiper-bundle.min.js"></script>
    <script src="~/lib/waypoints/noframework.waypoints.js"></script>

    <!-- Template Main JS File -->
    <script src="~/js/bizland.js"></script>

    <!-- Template Overrides JS File -->
    <script src="~/js/site.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>