@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Identity
@using linc.Models.Enumerations
@using linc.Utility
@using linc.Data
@using System.Net

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var currentCulture = requestCulture?.RequestCulture.UICulture.Name ?? "bg";
}

<!DOCTYPE html>
<html lang="@currentCulture">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    @* TODO: SEO here *@
    <title>@ViewData["Title"] - linc</title>
    <meta content="@ViewData["Description"]" name="description">
    <meta content="@ViewData["Keywords"]" name="keywords">

    @* TODO: трябва да се смени favicon-ата *@

    <!-- Favicons -->
    <link href="~/img/favicon.png" rel="icon">
    <link href="~/img/apple-touch-icon.png" rel="apple-touch-icon">
    
    @* TODO: ревизирай фонтовете на сайта *@

    <!-- Google Fonts -->
    @* font-family: 'Piazzolla', serif; *@
    @* font-family: 'Roboto', sans-serif; *@
    @* font-family: 'Tinos', serif; *@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Piazzolla:ital,opsz,wght@0,8..30,300;0,8..30,400;0,8..30,500;0,8..30,600;0,8..30,700;1,8..30,300;1,8..30,400;1,8..30,500;1,8..30,600;1,8..30,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    @* TODO: Heavily revise if all of these are necessary *@
    @* TODO: minify *@
    <link href="~/lib/aos/aos.css" rel="stylesheet">
    <link href="~/lib/flag-icons/css/flag-icons.min.css" rel="stylesheet">
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet">
    <link href="~/lib/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/lib/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/lib/Swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/css/bizland.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: BizLand
    * Updated: Sep 18 2023 with Bootstrap v5.3.2
    * Template URL: https://bootstrapmade.com/bizland-bootstrap-business-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
    
    <!-- Site Overrides CSS File -->
    <link href="~/css/site.css" rel="stylesheet">

    <partial name="_JsLocalizer"/>
    
    @await RenderSectionAsync("Head", required: false)

</head>

<body>
    <!-- ======= Top Bar ======= -->
    <section id="topbar" class="d-flex align-items-center">
        <div class="container d-flex justify-content-end justify-content-sm-between">
            <div class="d-none d-sm-flex align-items-center">
                <span>@HtmlLocalizer["Logo_Long"]</span>
            </div>
            <div class="d-flex align-items-center">
                <form id="set_language" asp-controller="Home" asp-action="SetLanguage" asp-route-returnUrl="@(Context.Request.Path + Context.Request.QueryString)" asp-antiforgery="false">
                    <environment exclude="Production">
                        @* <span class="me-2">Session: @Context.Session.GetString("Hi")</span> *@
                        @{
                            var editable = "False";
                            if (User.IsAtLeast(SiteRole.Editor) && TempData.ContainsKey(SiteConstant.TempDataEditableKey))
                            {
                                editable = TempData.Peek(SiteConstant.TempDataEditableKey)?.ToString() ?? "False";
                            }
                        }
                        <span class="me-2">Editable: @editable</span>
                        <span class="me-2">Language: @currentCulture</span>
                    </environment>
                    @foreach (var supportedCulture in SiteConstant.SupportedCultures.Values)
                    {
                        <button id="language_@supportedCulture" name="culture" value="@supportedCulture" type="submit"
                                class="btn @(supportedCulture == currentCulture ? "active" : "")">
                            <i class="fi fi-@supportedCulture"></i>
                        </button>
                    }
                </form>
            </div>
        </div>
    </section>

    <!-- ======= Header ======= -->
    <header id="header" class="d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-between">

            <h1 class="logo">
                <a href="/">@HtmlLocalizer["Logo_Short"]<span>.</span></a>
            </h1>

            <nav id="navbar" class="navbar">
                <ul>
                    <li>
                        <a id="nav-home" class="nav-link scrollto " asp-controller="Home" asp-action="Index" asp-fragment="hero">@HtmlLocalizer["NavItem_Home"]</a>
                    </li>
                    <li>
                        <a id="nav-about" class="nav-link scrollto" asp-controller="Home" asp-action="Index" asp-fragment="about">@HtmlLocalizer["NavItem_About"]</a>
                    </li>
                    <li>
                        <a id="nav-sources" class="nav-link scrollto" asp-controller="Home" asp-action="Index" asp-fragment="sources">@HtmlLocalizer["NavItem_Authors"]</a>
                    </li>
                    <li>
                        <a id="nav-codex" class="nav-link scrollto" asp-controller="Home" asp-action="Index" asp-fragment="codex">@HtmlLocalizer["NavItem_Codex"]</a>
                    </li>
                    <li>
                        <a id="nav-portfolio" class="nav-link scrollto" asp-controller="Home" asp-action="Index" asp-fragment="portfolio">@HtmlLocalizer["NavItem_Portfolio"]</a>
                    </li>
                    <li>
                        <a id="nav-team" class="nav-link scrollto" asp-controller="Home" asp-action="Index" asp-fragment="team">@HtmlLocalizer["NavItem_Team"]</a>
                    </li>
                    <li>
                        <a id="nav-contact" class="nav-link scrollto" asp-controller="Home" asp-action="Index" asp-fragment="contact">@HtmlLocalizer["NavItem_Contact"]</a>
                    </li>

                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li class="dropdown">
                            <a class="nav-link" href="#">
                                <span>@UserManager.GetUserName(User)</span>
                                <i class="bi bi-chevron-down"></i>
                            </a>
                            <ul>
                                
                                <li>
                                    <a id="manage" asp-area="Identity" asp-page="/Account/Manage/Index">@HtmlLocalizer["NavItem_MyProfile"]</a>
                                </li>
                                
                                @if (User.IsAtLeast(SiteRole.Editor))
                                {
                                    if (TempData.ContainsKey(SiteConstant.TempDataEditableKey))
                                    {
                                        <li>
                                            <a asp-controller="Home" asp-action="Edit">@HtmlLocalizer["NavItem_EditModeDisable"]</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <a asp-controller="Home" asp-action="Edit">@HtmlLocalizer["NavItem_EditModeEnable"]</a>
                                        </li>
                                    }

                                    <li>
                                        <a asp-controller="Dossier" asp-action="Index">@HtmlLocalizer["NavItem_Submissions"]</a>
                                    </li>
                                }
                                else
                                {
                                    @* <li> *@
                                    @*     <a href="#">@HtmlLocalizer["NavItem_MySubmissions"]</a> *@
                                    @* </li> *@
                                }
                                
                                @if (User.IsImpersonating())
                                {
                                    <li>
                                        <a asp-controller="Admin" asp-action="StopImpersonation">Back to @User.GetOriginalUserName()</a>
                                    </li>
                                }

                            </ul>
                        </li>
                        <li>
                            <a class="nav-link submit-link" href="#logoutForm">@HtmlLocalizer["NavItem_Logout"]</a>
                            <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" 
                                  asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            </form>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a class="nav-link" id="register" asp-area="Identity" asp-page="/Account/Register">@HtmlLocalizer["NavItem_Register"]</a>
                        </li>
                        <li>
                            <a class="nav-link" id="login" asp-area="Identity" asp-page="/Account/Login">@HtmlLocalizer["NavItem_Login"]</a>
                        </li>
                    }

                </ul>

                <i class="bi bi-list mobile-nav-toggle"></i>

            </nav><!-- .navbar -->

        </div>

    </header>
    
    @*
    @if (!IsSectionDefined("SubHeader"))
    {
        <!-- ======= Sub-Header ======= -->
        <header id="sub-header" class="d-flex align-items-center">
            <div class="container d-flex align-items-center justify-content-center">
                <nav id="sub-navbar" class="navbar">
                    <ul>
                        <li>
                            <a id="index-@IndexCategory.All.ToString().ToLower()" asp-controller="Library" asp-action="Index" asp-route-id="All">@HtmlLocalizer["NavItem_Library"]</a>
                        </li>
                        <li class="divider">
                            |
                        </li>
                        <li>
                            <a id="index-@IndexCategory.Articles.ToString().ToLower()" asp-controller="Library" asp-action="Index" asp-route-id="Articles">
                                @(EnumHelper<IndexCategory>.GetDisplayName(IndexCategory.Articles))
                            </a>
                        </li>
                        <li>
                            <a id="index-@IndexCategory.Analyses.ToString().ToLower()" asp-controller="Library" asp-action="Index" asp-route-id="Analyses">
                                @(EnumHelper<IndexCategory>.GetDisplayName(IndexCategory.Analyses))
                            </a>
                        </li>
                        <li>
                            <a id="index-@IndexCategory.Surveys.ToString().ToLower()" asp-controller="Library" asp-action="Index" asp-route-id="Surveys">
                                @(EnumHelper<IndexCategory>.GetDisplayName(IndexCategory.Surveys))
                            </a>
                        </li>
                        <li>
                            <a id="index-@IndexCategory.Discussions.ToString().ToLower()" asp-controller="Library" asp-action="Index" asp-route-id="Discussions">
                                @(EnumHelper<IndexCategory>.GetDisplayName(IndexCategory.Discussions))
                            </a>
                        </li>
                        <li>
                            <a id="index-@IndexCategory.Reviews.ToString().ToLower()" asp-controller="Library" asp-action="Index" asp-route-id="Reviews">
                                @(EnumHelper<IndexCategory>.GetDisplayName(IndexCategory.Reviews))
                            </a>
                        </li>
                        <li>
                            <a id="index-@IndexCategory.Chronicles.ToString().ToLower()" asp-controller="Library" asp-action="Index" asp-route-id="Chronicles">
                                @(EnumHelper<IndexCategory>.GetDisplayName(IndexCategory.Chronicles))
                            </a>
                        </li>
                        <li>
                            <a id="index-@IndexCategory.Foreign.ToString().ToLower()" asp-controller="Library" asp-action="Index" asp-route-id="Foreign">
                                @(EnumHelper<IndexCategory>.GetDisplayName(IndexCategory.Foreign))
                            </a>
                        </li>
                    </ul>

                </nav>
            </div>
        </header>
    }
    *@

    <!-- End Header -->

    @if (IsSectionDefined("Hero"))
    {
        @await RenderSectionAsync("Hero")
    } 
    else if (IsSectionDefined("Breadcrumbs"))
    {
        @await RenderSectionAsync("Breadcrumbs")
    }

    <!-- ======= #main ======= -->
    <main id="main" @*data-aos="fade-up"*@>
        
        @if ("Identity".Equals(ViewData["Area"]))
        {
            <section class="identity">
                <div class="container">
                    @RenderBody()
                </div>
            </section>
        }
        else
        {
            @RenderBody()
        }

    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
        
        @if (IsSectionDefined("Newsletter"))
        {
            @await RenderSectionAsync("Newsletter")
        } 
        else if ("Identity".Equals(ViewData["Area"]))
        {
            if (User.IsAtLeast(SiteRole.Editor))
            {
                <partial name="_ReportBug" />
            }
            else
            {
                <partial name="_Submit" />
            }
        }

        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h3>@HtmlLocalizer["Footer_EditorsAddress_Title"]:</h3>
                        <p>
                            @HtmlLocalizer["Footer_EditorsAddress_RowOne"],<br>
                            @HtmlLocalizer["Footer_EditorsAddress_RowTwo"],<br>
                            @HtmlLocalizer["Footer_EditorsAddress_RowThree"] <a href="mailto:@SiteConstant.ReviewsEmail">@SiteConstant.ReviewsEmail</a> <br><br>
                        </p>
                        <h3>@HtmlLocalizer["Footer_PublishersAddress_Title"]:</h3>
                        <p>
                            @HtmlLocalizer["Footer_PublishersAddress_RowOne"],<br>
                            @HtmlLocalizer["Footer_PublishersAddress_RowTwo"],<br>
                        </p>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>@HtmlLocalizer["Footer_GuidelinesPolicies_Title"]</h4>
                        @* TODO: Ponder upon using one page for terms and conditions that includes Privacy and Cookies section? *@
                        @* 
                            A Privacy Policy is legally required, while a Terms and Conditions agreement is not. 
                            A Terms and Conditions agreement spells out how users can interact with your site or service, 
                            while a Privacy Policy lets users know how you will interact with their personal information.
                        https://www.termsfeed.com/blog/privacy-policies-vs-terms-conditions
                        *@
                        <ul>
                            <li>
                                <i class="bx bx-chevron-right"></i> 
                                @* TODO: Extract to separate page *@
                                <a class="scrollto" asp-controller="Home" asp-action="Index" asp-fragment="codex">
                                    @HtmlLocalizer["Footer_GuidelinesPolicies_Codex"]
                                </a>
                            </li>
                            <li>
                                <i class="bx bx-chevron-right"></i> 
                                <a class="scrollto" asp-controller="Home" asp-action="Submit">@HtmlLocalizer["Footer_GuidelinesPolicies_SubmitGuidance"]</a>
                            </li>
                            <li>
                                <i class="bx bx-chevron-right"></i> 
                                <a asp-controller="Home" asp-action="Terms">@HtmlLocalizer["Footer_GuidelinesPolicies_TermsOfService"]</a>
                            </li>
                            <li>
                                <i class="bx bx-chevron-right"></i> 
                                <a asp-controller="Home" asp-action="Privacy">@HtmlLocalizer["Footer_GuidelinesPolicies_PrivacyPolicyAndCookies"]</a>
                            </li>
                        </ul>
                    </div>

                    <cache expires-after="@TimeSpan.FromDays(1)">
                        <div class="col-lg-4 col-md-6 footer-links">
                            <h4>@HtmlLocalizer["Footer_Suggestions_Title"]</h4>
                            <ul>
                                @foreach (var suggestion in ContentService.GetSourceSuggestions())
                                {
                                    <li>
                                        <i class="bx bx-chevron-right"></i> 
                                        <div>
                                            <small>
                                                <a href="@Url.Action("Index", "Source", new { filter = WebUtility.UrlEncode(suggestion.AuthorNames) })">
                                                    @suggestion.AuthorNames
                                                </a>
                                            </small>
                                            <a class="p-1" target="_blank" href="@suggestion.SourceLink">@suggestion.Title</a>
                                            <small class="d-block text-end">
                                                @Html.Raw(suggestion.IssueInformation)
                                            </small>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </cache>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>@HtmlLocalizer["Footer_Social_Title"]</h4>
                        <p>@HtmlLocalizer["Footer_Social_Description"]:</p>
                        
                        @* TODO: Допълнителни сайтове/социални мрежи *@

                        <ul>
                            <li>
                                <i class="bx bx-chevron-right"></i> <a target="_blank" href="https://dialozi.uni-plovdiv.bg">Славянски диалози</a>
                            </li>
                            @*<li>
                                <i class="bx bx-chevron-right"></i> <a target="_blank" href="https://litmis.eu/">ЛИТЕРАТУРНА МИСЪЛ</a>
                            </li>*@
                            @*<li>
                                <i class="bx bx-chevron-right"></i> <a target="_blank" href="https://bel.azbuki.bg/">Български език и литература</a>
                            </li>*@
                            @*<li>
                                <i class="bx bx-chevron-right"></i> <a target="_blank" href="https://slovo.uni-plovdiv.bg/">Филологически факултет на Пловдивски университет</a>
                            </li>*@
                            @*<li>
                                <i class="bx bx-chevron-right"></i> <a target="_blank" href="https://liternet.bg/">LiterNet</a>
                            </li>*@
                            <li>
                                <i class="bx bx-chevron-right"></i> <a target="_blank" href="https://lib.uni-plovdiv.bg/">Научни трудове, Филологически факултет на Пловдивския университет "Паисий Хилендарски"</a>
                            </li>
                            @*<li>
                                <i class="bx bx-chevron-right"></i> <a target="_blank" href="https://slovo.uni-plovdiv.bg/">Филологически факултет на Пловдивски университет</a>
                            </li>*@

                            <li>
                                <i class="bx bx-chevron-right"></i> <a target="_blank" href="https://blogs.uni-plovdiv.net/verba-iuvenium/?lang=@currentCulture">VERBA IUVENIUM</a>
                            </li>

                        </ul>
                        @*<div class="social-links mt-3">
                            <a href="#" class="twitter">
                                <i class="bi bi-twitter-x"></i>
                            </a>
                            <a href="#" class="facebook">
                                <i class="bi bi-facebook"></i>
                            </a>
                            <a href="#" class="instagram">
                                <i class="bx bxl-instagram"></i>
                            </a>
                            <a href="#" class="google-plus">
                                <i class="bx bxl-google-plus"></i>
                            </a>
                            <a href="#" class="linkedin">
                                <i class="bx bxl-linkedin"></i>
                            </a>
                        </div>*@
                    </div>

                </div>
            </div>
        </div>
        
        <cache expires-after="@TimeSpan.FromDays(30)" vary-by-culture="true">
            <div class="container py-4">
                <div class="copyright">
                    @SiteConstant.AdministratorUserName; @HtmlLocalizer["Version_Label"]: 
                    v.@ContentService.GetVersion()
                    &copy; Copyright
                    <strong>
                        <span>BizLand</span>
                    </strong> Theme. @HtmlLocalizer["Copyright_Label"].
                </div>
                <div class="credits">
                    <!-- All the links in the footer should remain intact. -->
                    <!-- You can delete the links only if you purchased the pro version. -->
                    <!-- Licensing information: https://bootstrapmade.com/license/ -->
                    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/bizland-bootstrap-business-template/ -->
                    Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                </div>
            </div>
        </cache>

    </footer>
    <!-- End Footer -->

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
        <i class="bi bi-arrow-up-short"></i>
    </a>

    <!-- Vendor JS Files -->
    @* TODO: Heavily revise if all of these are necessary *@
    <script src="~/lib/jquery/jquery.min.js"></script>
    @* <script src="~/lib/jquery-validate/jquery.validate.min.js"></script> *@
    @* <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script> *@
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/sweetalert2/sweetalert2.all.min.js"></script>
    <script src="~/lib/purecounterjs/dist/purecounter_vanilla.js"></script>
    <script src="~/lib/aos/aos.js"></script>
    <script src="~/lib/glightbox/js/glightbox.min.js"></script>
    <script src="~/lib/isotope-layout/dist/isotope.pkgd.min.js"></script>
    <script src="~/lib/Swiper/swiper-bundle.min.js"></script>
    <script src="~/lib/waypoints/noframework.waypoints.js"></script>

    <!-- Template Main JS File -->
    <script src="~/js/bizland.js"></script>

    <!-- Template Overrides JS File -->
    <script src="~/js/site.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

    <partial name="_AlertMessage"/>

    @if (User.IsAtLeast(SiteRole.Editor))
    {
        <partial name="_SetStringResource" model="@(User.Is(SiteRole.Administrator) ? "innerHTML" : "innerText")"/>
    }

</body>
</html>