<div class="footer-newsletter">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h4>@HtmlLocalizer["NewsletterSection_Title"]</h4>
                <p>@HtmlLocalizer["NewsletterSection_Description"]</p>
                <form action="" method="post">
                    <input type="email" name="email" required>
                    <input type="submit" value="@HtmlLocalizer["NewsletterSection_SubscribeButton_Label"]">
                    @*@if (!User.Identity.IsAuthenticated)
                    {
                        <input type="email" name="email" required>
                        <input type="submit" value="@HtmlLocalizer["NewsletterSection_SubscribeButton_Label"]">
                    }
                    else
                    {
                        <button type="submit" class="w-100 btn btn-lg btn-primary">@HtmlLocalizer["NewsletterSection_SubscribeButton_Label"]</button>
                    }*@
                </form>
            </div>
        </div>
    </div>
</div>
