@using linc.Utility

<div class="footer-newsletter">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h4>@HtmlLocalizer["ReportBug_Title"]</h4>
                @HtmlLocalizer["ReportBug_Description_Top"]
                <div class="text-center">
                    
                    @*{
                        var subject = $"[{Context.Session.Id}] Bug Report -";
                        var encoded = @Html.Encode(subject);
                    }*@

                    <a class="w-50 btn btn-lg btn-primary" target="_blank" href="mailto:@SiteConstant.AdministratorEmail">
                        @HtmlLocalizer["ReportBugSection_SubmitButton_Label"]
                    </a>
                </div>
                @HtmlLocalizer["ReportBug_Description_Bottom"]
            </div>
        </div>
    </div>
</div>
