@page
@using linc.Models.Enumerations
@model InfoModel

@{
    ViewData["Title"] = HtmlLocalizer["ManagePreferences_Title"];
    ViewData["ActivePage"] = ManageNavPages.Information;
}

<div class="row">

    <div class="col-sm-6">

        <partial name="Account/_StatusMessage" for="StatusMessage" />

        <form id="profile-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Input.DisplayNameType"></label>
                <select asp-for="Input.DisplayNameType" class="form-select" asp-items="Html.GetEnumSelectList<UserDisplayNameType>()"></select>
                <span asp-validation-for="Input.DisplayNameType" class="invalid-feedback"></span>
                <p class="form-text"><small>@HtmlLocalizer["CurrentDisplayName_Label"]: @Model.CurrentDisplayName</small></p>
            </div>
            
            <div class="form-group text-end">
                <div class="form-check">
                    <label class="form-check-label" asp-for="Input.DisplayEmail">
                        <input class="form-check-input" asp-for="Input.DisplayEmail" />
                        @Html.DisplayNameFor(x => x.Input.DisplayEmail)
                    </label>
                    <span asp-validation-for="Input.DisplayEmail" class="invalid-feedback"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Input.Description"></label>
                <textarea asp-for="Input.Description" class="form-control" rows="6"></textarea>
                <span asp-validation-for="Input.Description" class="invalid-feedback"></span>
            </div>

            @*
            <div class="form-floating">
                <label asp-for="Input.PhoneNumber"></label>
                <input asp-for="Input.PhoneNumber" class="form-control" maxlength="14" />
                <span asp-validation-for="Input.PhoneNumber" class="invalid-feedback"></span>
            </div>
            *@

            <hr />
            
            <div class="text-end">
                <button type="reset" class="btn btn-lg btn-outline-secondary">
                    @HtmlLocalizer["Reset_Button_Label"]
                </button>

                <button id="update-profile-button" type="submit" class="w-50 btn btn-lg btn-primary">
                    @HtmlLocalizer["Save_Button_Label"]
                </button>
            </div>

        </form>
    </div>

    <div class="col-md-6">
        <p><small>Страница не събира лична информация, различна от тази, която ни предоставяте. Всички данни, които се съхраняват за Вас, можете да <a class="text-decoration-underline" href="/identity/account/manage/personal-data">изтеглите от тук</a> в машинно четим вид.</small></p>
        <p><small>Всички данни от тази форма са <span class="text-decoration-underline">незадължителни за функционирането на сайтът</span> на Списание Страница.</small></p>
        <p><small>При избор как да се показват личните Ви данни на сайта, винаги имате възможност за Вас да се показва единствено 'Анонимен'.</small></p>
        <p><small>Ако желаете, можете да въведете кратко биографично описание с до 1000 символа за себе си.</small></p>
        <p><small>Ако решите да въведете телефон, имайте предвид, че Списание Страница <b>не разпространява номерът Ви на трети страни и не го използва за маркетингови цели</b>. Телефонният номер се използва за подсигуряване на профилът Ви, ексклузивно по Ваше желание.</small></p>
    </div>

</div>

@section scripts {
    <partial name="_ValidationScripts" />
}
