@page
@using linc.Models.Enumerations
@using linc.Utility
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model InfoModel

@{
    ViewData["Title"] = HtmlLocalizer["ManagePreferences_Title"];
    ViewData["ActivePage"] = ManageNavPages.Information;
}

@{
    var requestCulture = HttpContext.Features.Get<IRequestCultureFeature>();
    var currentCulture = requestCulture?.RequestCulture.UICulture.Name ??
                         SiteConstant.BulgarianCulture.Value;
}

<div class="row">

    <div class="col-md-6">

        <partial name="Account/_StatusMessage" for="StatusMessage" />

        <form id="profile-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Input.PreferredLanguageId"></label>
                <select asp-for="Input.PreferredLanguageId" class="form-select" asp-items="Model.SupportedLanguages"></select>
                <span asp-validation-for="Input.PreferredLanguageId" class="invalid-feedback"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.DisplayNameType"></label>
                <select asp-for="Input.DisplayNameType" class="form-select" asp-items="Html.GetEnumSelectList<UserDisplayNameType>()"></select>
                <span asp-validation-for="Input.DisplayNameType" class="invalid-feedback"></span>
                <p class="form-text"><small>@HtmlLocalizer["CurrentDisplayName_Label"]: @Model.CurrentDisplayName</small></p>
            </div>
            
            <div class="form-group text-end">
                <div class="form-check">
                    <label class="form-check-label" asp-for="Input.DisplayEmail">
                        <input class="form-check-input" asp-for="Input.DisplayEmail" />
                        @Html.DisplayNameFor(x => x.Input.DisplayEmail)
                    </label>
                    <span asp-validation-for="Input.DisplayEmail" class="invalid-feedback"></span>
                </div>
            </div>
            
            <ul class="nav nav-tabs" role="tablist">

                @for (var i = 0; i < SiteConstant.SupportedCultures.Count; i++)
                {
                    var supportedCulture = SiteConstant.SupportedCultures.ElementAt(i).Value;

                    <li class="nav-item @(i == 0 ? "ms-auto" : string.Empty)" role="presentation">
                        <button class="nav-link @(supportedCulture == currentCulture ? "active" : string.Empty)" id="display-language-@supportedCulture" data-bs-toggle="tab" data-bs-target="#language-@supportedCulture-tab-pane" type="button" role="tab" aria-controls="language-@supportedCulture-tab-pane" aria-selected="@(supportedCulture == currentCulture)">
                            @supportedCulture
                        </button>
                    </li>
                }

            </ul>
            <div class="tab-content">

                @for (var i = 0; i < Model.Input.Profiles.Length; i++)
                {
                    var index = i;
                    var languageId = Model.Input.Profiles[index].LanguageId;
                    var culture = SiteConstant.SupportedCultures[languageId];

                    <div class="tab-pane fade @(culture == currentCulture ? "show active" : string.Empty)" id="language-@culture-tab-pane" role="tabpanel" aria-labelledby="display-language-@culture" tabindex="0">

                        <input asp-for="Input.Profiles[index].LanguageId" type="hidden" />
                        
                        <div class="form-floating">
                            <textarea asp-for="Input.Profiles[index].Description" class="form-control count-remaining-symbols" rows="6"></textarea>
                            <label asp-for="Input.Profiles[index].Description">
                                @HtmlLocalizer["ManagePreferences_Description"]
                                @if (culture != currentCulture)
                                {
                                    @:(@HtmlLocalizer[$"InAlphabet_{culture}_Name"])
                                }
                            </label>
                            <span asp-validation-for="Input.Profiles[index].Description" class="invalid-feedback"></span>
                            <div class="text-end text-muted"><span class="remaining-symbols">@(1000 - (Model.Input.Profiles[index].Description?.Length ?? 0))</span>/1000</div>
                        </div>
                        

                    </div>
                }

            </div>

            <div class="form-check">
                <input class="form-check-input" asp-for="Input.Subscribed" />
                <label class="form-check-label" asp-for="Input.Subscribed">
                    @Html.DisplayNameFor(x => x.Input.Subscribed)
                </label>
            </div>

            <hr />
            
            <div class="text-end">
                <button type="reset" class="btn btn-lg btn-outline-secondary">
                    @HtmlLocalizer["Reset_Button_Label"]
                </button>

                <button id="update-profile-button" type="submit" class="w-50 btn btn-lg btn-primary">
                    @HtmlLocalizer["Save_Button_Label"]
                </button>
            </div>

        </form>
    </div>

    <div class="col-md-6">
        @HtmlLocalizer["ManagePreferences_PageDescription"]
    </div>

</div>

@section scripts {
    <partial name="_ValidationScripts" />
}

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        let elements = document.querySelectorAll('.count-remaining-symbols');
        elements.forEach((element) => {
            element.addEventListener('keyup', (e) => {
                $(e.target).parent().find(".remaining-symbols").text(1000 - e.target.value.length)
            })
        });                                
    });
</script>
