@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model PersonalDataModel
@{
    ViewData["Title"] = HtmlLocalizer["ManagePersonalData_Title"];
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

@* <h3>@ViewData["Title"]</h3> *@

<div class="row">
    <div class="col-md-6">
        <p>
            @HtmlLocalizer["ManagePersonalData_Description"]
        </p>
        <hr />
        <form class="pb-3 text-end no-preloader" id="download-data" asp-page="DownloadPersonalData" method="post">
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">
                @HtmlLocalizer["Delete_Button_Label"]
            </a>
            <button class="w-50 btn btn-primary" type="submit">
                @HtmlLocalizer["Download_Button_Label"]
            </button>
        </form>
    </div>
    
    <div class="col-sm-6">
        @HtmlLocalizer["ManagePersonalData_PageDescription"]
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScripts" />
}
