@using linc.Models.Enumerations
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using linc.Utility
@model IssueCreateViewModel

@{
    ViewData["Title"] = HtmlLocalizer["Issue_CreatePage_Title"];
}

@section Breadcrumbs {
    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>@HtmlLocalizer["Issue_CreatePage_Title"]</h2>
                <ol>
                    <li>
                        <a href="/">@HtmlLocalizer["NavItem_Home"]</a>
                    </li>
                    <li>
                        <a asp-controller="Source" asp-action="Index">@HtmlLocalizer["NavItem_Library"]</a>
                    </li>
                    <li>@ViewData["Title"]</li>
                </ol>
            </div>

        </div>
    </section>
    <!-- End Breadcrumbs -->
}

<section class="inner-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <form asp-action="Create" enctype="multipart/form-data">
                    <h3>@HtmlLocalizer["Issue_CreatePage_SubTitle"]</h3>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-floating">
                                <input asp-for="IssueNumber" class="form-control"/>
                                <label asp-for="IssueNumber" class="form-label"></label>
                                <span asp-validation-for="IssueNumber" class="invalid-feedback"></span>
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <div class="form-floating">
                                <input asp-for="ReleaseYear" class="form-control"/>
                                <label asp-for="ReleaseYear" class="form-label"></label>
                                <span asp-validation-for="ReleaseYear" class="invalid-feedback"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="Description" class="form-label"></label>
                        <textarea asp-for="Description" class="form-control" rows="6"></textarea>
                        <span asp-validation-for="Description" class="invalid-feedback"></span>
                    </div>

                    <div class="form-group">
                        <div class="mb-3">
                            <label asp-for="PdfFile" class="form-label"></label>
                            <input asp-for="PdfFile" class="form-control" accept=".pdf" />
                            <span asp-validation-for="PdfFile" class="invalid-feedback"></span>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="mb-3">
                            <label asp-for="CoverPage" class="form-label"></label>
                            <input asp-for="CoverPage" class="form-control" accept="image/*" />
                            <span asp-validation-for="CoverPage" class="invalid-feedback"></span>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="mb-3">
                            <label asp-for="IndexPages" class="form-label"></label>
                            <input asp-for="IndexPages" class="form-control" multiple="multiple" accept="image/*" />
                            <span asp-validation-for="IndexPages" class="invalid-feedback"></span>
                        </div>
                    </div>
                    
                    <hr/>

                    <div class="text-end">
                        <button type="reset" class="btn btn-lg btn-outline-secondary">
                            @HtmlLocalizer["Reset_Button_Label"]
                        </button>

                        <button id="change-password-button" type="submit" class="w-50 btn btn-lg btn-primary">
                            @HtmlLocalizer["Save_Button_Label"]
                        </button>
                    </div>
                </form>
            </div>
            
            <div class="col-lg-4">
                <h3>@HtmlLocalizer["Issue_CreatePage_Notes_Title"]</h3>
                <hr>
                <p contenteditable-for="Issue_CreatePage_Notes" contenteditable-allowed-for="SiteRole.Administrator">

                </p>
            </div>
        </div>
    </div>
</section>

@section Newsletter {
    <partial name="_ReportBug" />
}

@section Scripts {
    <partial name="_ValidationScripts" />
}
