@using linc.Utility
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model linc.Data.ApplicationIssue

@{
    ViewData["Title"] = HtmlLocalizer["Issue_DetailsPage_Title"];
}

@section Breadcrumbs {
    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>@HtmlLocalizer["Issue_DetailsPage_PageTitle", Model.IssueNumber]</h2>
                <ol>
                    <li>
                        <a href="/">@HtmlLocalizer["NavItem_Home"]</a>
                    </li>
                    <li>
                        <a asp-controller="Source" asp-action="Index" asp-route-issueId="@Model.Id">@HtmlLocalizer["NavItem_Library"]</a>
                    </li>
                    <li>@ViewData["Title"]</li>
                </ol>
            </div>

        </div>
    </section>
    <!-- End Breadcrumbs -->
}

<!-- ======= Portfolio Details Section ======= -->
<section class="portfolio-details">
    <div class="container">

        <div class="row gy-4">

            <div class="col-lg-7">
                <div class="portfolio-details-slider swiper">
                    <div class="swiper-wrapper align-items-center">
                        
                        <div class="swiper-slide">
                            <img src="@Url.Action("LoadFile", new { id = Model.CoverPage.Id })" alt="@Model.CoverPage.Title">
                        </div>

                        @foreach (var file in Model.IndexPages)
                        {
                            <div class="swiper-slide">
                                <img src="@Url.Action("LoadFile", new { id = file.Id })" alt="@file.Title">
                            </div>
                        }

                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                
                <div class="mt-4 portfolio-info">
                    <h3>@HtmlLocalizer["Issue_DetailsPage_IssueTitle"]</h3>
                    <ul>
                        @* <li><strong>@HtmlLocalizer["Issue_DetailsPage_IssueNumber"]</strong>: @Model.IssueNumber</li> *@
                        <li><strong>@HtmlLocalizer["Issue_DetailsPage_IssueISSN"]</strong>: @SiteConstant.ISSN</li>
                        <li><strong>@HtmlLocalizer["Issue_DetailsPage_IssueCreated"]</strong>: @Model.DateCreated.ToString("dd MMMM, yyyy")</li>
                        <li>
                            <strong>@HtmlLocalizer["Issue_DetailsPage_IssueDescription"]</strong>:
                            <pre class="pt-2">@Model.Description</pre>
                        </li>
                    </ul>
                    <hr />
                    <a class="btn btn-primary w-100" target="_blank" href="@Url.Action("LoadFile", new { id = Model.Pdf.Id })">
                        @HtmlLocalizer["Issue_DetailsPage_IssuePdf"]
                    </a>
                </div>
            </div>

            <div class="col-lg-5">

                <div class="portfolio-description">
                    <h2>@HtmlLocalizer["Issue_DetailsPage_ContentTitle"]</h2>

                    @*<ul class="nav nav-tabs nav-fill" role="tablist">
                        @foreach (var culture in SiteConstant.SupportedCultures.Values)
                        {
                            var isActive = currentCulture.Equals(culture);
                            var activeClass = isActive ? "active" : string.Empty;
                            
                            <li class="nav-item" role="presentation">
                                <button class="nav-link @activeClass" id="tab-switch-@culture" data-bs-toggle="tab" data-bs-target="#tab-content-@culture" type="button" role="tab" aria-controls="tab-content-@culture" aria-selected="@isActive">
                                    @culture
                                </button>
                            </li>
                        }
                    </ul>*@

                    <ul>
                        @foreach (var source in Model.Sources.OrderBy(x => x.StartingPage))
                        {
                            <li class="source-container">

                                @if (!string.IsNullOrWhiteSpace(source.AuthorNames))
                                {
                                    <p class="source-author">
                                        @source.FirstName @source.LastName
                                        @if (!string.IsNullOrEmpty(source.AuthorNotes))
                                        {
                                            <br />
                                            <small>@source.AuthorNotes</small>
                                        }
                                    </p>
                                }

                                <p class="source-title">
                                    <a href="@Url.Action("Pdf", "Source", new { id = source.IssueId })#page=@source.StartingPage">@source.Title</a>
                                </p>

                                <p class="source-page text-end">
                                    <strong>@source.StartingPage</strong>
                                </p>

                                @if (!string.IsNullOrEmpty(source.TitleNotes))
                                {
                                    <small>@source.TitleNotes</small>
                                }

                            </li>
                        }
                    </ul>


                </div>
            </div>

        </div>

    </div>
</section><!-- End Portfolio Details Section -->

@section Newsletter {
    <partial name="_Submit"/>
}
