<!-- ======= About Section ======= -->
<section id="about" class="about section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>@HtmlLocalizer["AboutSection_Title"]</h2>
            @* <h3>@HtmlLocalizer["AboutSection_SubTitle"]</h3> *@
            <p>
                @HtmlLocalizer["AboutSection_Description_FirstRow"]
            </p>
            <p>
                @HtmlLocalizer["AboutSection_Description_SecondRow"]
            </p>
        </div>

        <div class="row">
            <div class="col-lg-6 about-cover-page-wrapper" data-aos="fade-right" data-aos-delay="100">
                <img src="~/img/linc_cover_page_clean.svg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
                <h3>@HtmlLocalizer["AboutSection_Goals_Title"]</h3>
                <p>
                    @HtmlLocalizer["AboutSection_Goals_Description"]
                </p>
                <ul>
                    <li>
                        <i class="bx bxs-megaphone"></i>
                        <div>
                            <h5>@HtmlLocalizer["AboutSection_Mission_Title"]</h5>
                            <p>
                                @HtmlLocalizer["AboutSection_Mission_Description"]
                            </p>
                        </div>
                    </li>
                    <li>
                        <i class="bx bx-book-add"></i>
                        <div>
                            <h5>@HtmlLocalizer["AboutSection_Publish_Title"]</h5>
                            <p>
                                @HtmlLocalizer["AboutSection_Publish_Description"]
                            </p>
                        </div>
                    </li>
                    <li>
                        <i class="bx bxs-conversation"></i>
                        <div>
                            <h5>@HtmlLocalizer["AboutSection_Review_Title"]</h5>
                            <p>
                                @HtmlLocalizer["AboutSection_Review_Description"]
                            </p>
                        </div>
                    </li>
                    @*<li>
                        <i class="bx bx-group"></i>
                        <div>
                            <h5>Редколегия</h5>
                            <p>
                                В редакторския екип на изданието участват преподаватели от факултета, а членове на редакционния борд са изявени изследователи от различни страни и научни организации.
                            </p>
                        </div>
                    </li>*@
                    <li>
                        <i class="bx bx-globe"></i>
                        <div>
                            <h5>@HtmlLocalizer["AboutSection_Content_Title"]</h5>
                            <p>
                                @HtmlLocalizer["AboutSection_Content_Description"]
                            </p>
                        </div>
                    </li>
                </ul>
                <p>
                    @HtmlLocalizer["AboutSection_Footer_RowOne"]
                </p>
                <p>
                    @HtmlLocalizer["AboutSection_Footer_RowTwo"]
                </p>
                <p>
                    @HtmlLocalizer["AboutSection_Footer_RowThree"]
                </p>
                <p>
                    ISSN: 3033-0181 (Print) <br/>
                    ISSN: ………… (Online)
                </p>
            </div>
        </div>

    </div>
</section>
<!-- End About Section -->