<!-- ======= About Section ======= -->
<section id="about" class="about section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>@HtmlLocalizer["AboutSection_Title"]</h2>
            <h3>@HtmlLocalizer["AboutSection_SubTitle"]</h3>
            <p contenteditable-for="AboutSection_Description_FirstRow">
                „Език, интерпретация, концепции“ @*TODO: (pISSN …………, eISSN …………)*@ е списание на Филологическия факултет на Пловдивския университет „Паисий Хилендарски“.
            </p>
            <p>
                @HtmlLocalizer["AboutSection_Description_SecondRow"]
            </p>
        </div>

        <div class="row">
            <div class="col-lg-6 about-cover-page-wrapper" data-aos="fade-right" data-aos-delay="100">
                <img src="~/img/linc_cover_page_clean.svg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
                <h3>@HtmlLocalizer["AboutSection_Goals_Title"]</h3>
                <p class="fst-italic" contenteditable-for="AboutSection_Goals_Description">
                    „Език, интерпретация, концепции“ публикува статии по проблеми на теорията, историята и социологията на езика и литературата, културологични,
                    медийни и компаративистки изследвания, проучвания относно диалозите между изкуствата, трудове върху стратегиите и практиките в хуманитарното образование,
                    рецензии за академични книги.
                </p>
                <ul>
                    <li>
                        <i class="bx bxs-megaphone"></i>
                        <div>
                            <h5>@HtmlLocalizer["AboutSection_Mission_Title"]</h5>
                            <p contenteditable-for="AboutSection_Mission_Description">
                                Списанието предоставя трибуна на изследователи с различни методологически нагласи, от различни поколения и идентифициращи се с различни културни традиции и контексти.
                            </p>
                        </div>
                    </li>
                    <li>
                        <i class="bx bx-book-add"></i>
                        <div>
                            <h5>@HtmlLocalizer["AboutSection_Publish_Title"]</h5>
                            <p contenteditable-for="AboutSection_Publish_Description">
                                Публикуването в „Език, интерпретация, концепции“ е безплатно за авторите и за институциите, към които те принадлежат.
                                Достъпът до онлайн формата на изданието е свободен, безплатен и до целия текстови обем.
                            </p>
                        </div>
                    </li>
                    <li>
                        <i class="bx bxs-conversation"></i>
                        <div>
                            <h5>@HtmlLocalizer["AboutSection_Review_Title"]</h5>
                            <p contenteditable-for="AboutSection_Review_Description">
                                Текстовете, постъпили в редакцията на списанието, подлежат на двойно анонимно рецензиране от двама независими рецензенти – експерти в съответната научна област.
                            </p>
                        </div>
                    </li>
                    @*<li>
                        <i class="bx bx-group"></i>
                        <div>
                            <h5>Редколегия</h5>
                            <p>
                                В редакторския екип на изданието участват преподаватели от факултета, а членове на редакционния борд са изявени изследователи от различни страни и научни организации.
                            </p>
                        </div>
                    </li>*@
                    <li>
                        <i class="bx bx-globe"></i>
                        <div>
                            <h5>@HtmlLocalizer["AboutSection_Content_Title"]</h5>
                            <p contenteditable-for="AboutSection_Content_Description">
                                Публикациите в „Език, интерпретация, концепции“ са на български или английски език и могат да бъдат полезни на специалисти от различни сфери на хуманитаристиката.
                            </p>
                        </div>
                    </li>
                </ul>
                <p contenteditable-for="AboutSection_Footer_RowOne">
                    Изданието се стреми да формира пространство на толерантния и стойностен интелектуален дебат върху проблемите, занимаващи съвременните изследователи хуманитаристи,
                    да популяризира постиженията на български и чужди учени, да се съобразява с потребностите на читателска аудитория със специфични интереси и подготвеност.
                </p>
                <p contenteditable-for="AboutSection_Footer_RowTwo">
                    Списанието се финансира от Пловдивския университет и се издава от Университетско издателство „Паисий Хилендарски“.
                </p>
                <p contenteditable-for="AboutSection_Footer_RowThree">
                    Лиценз: CC BY-NC-ND 4.0 / Attribution-NonCommercial-NoDerivatives 4.0 International
                </p>
            </div>
        </div>

    </div>
</section>
<!-- End About Section -->