@using linc.Models.Enumerations
@using linc.Utility

<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>@HtmlLocalizer["AuthorsSection_Title"]</h2>
            @* <h3>@HtmlLocalizer["CategoriesSection_SubTitle"]</h3> *@
            <p contenteditable-for="ServicesSection_Description">
                Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.
            </p>
        </div>

        <div class="row">

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                    <div class="icon">
                        <i class="bx bx-file"></i>
                    </div>
                    <h4>
                        <a asp-controller="Source" asp-action="Index" asp-route-id="Articles">
                            @(EnumHelper<IndexCategory>.GetDisplayName(IndexCategory.Articles))
                        </a>
                    </h4>
                    <p contenteditable-for="Category_Articles_Description">
                        Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi
                    </p>
                </div>
            </div><!-- End Articles category item -->

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                    <div class="icon">
                        <i class="bx bx-left-indent"></i>
                    </div>
                    <h4>
                        <a asp-controller="Source" asp-action="Index" asp-route-id="Analyses">
                            @(EnumHelper<IndexCategory>.GetDisplayName(IndexCategory.Analyses))
                        </a>
                    </h4>
                    <p contenteditable-for="Category_Analyses_Description">
                        Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi
                    </p>
                </div>
            </div><!-- End Analyses category item -->
            
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                    <div class="icon">
                        <i class="bx bx-task"></i>
                    </div>
                    <h4>
                        <a asp-controller="Source" asp-action="Index" asp-route-id="Surveys">
                            @(EnumHelper<IndexCategory>.GetDisplayName(IndexCategory.Surveys))
                        </a>
                    </h4>
                    <p contenteditable-for="Category_Surveys_Description">
                        Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi
                    </p>
                </div>
            </div><!-- End Surveys category item -->

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                    <div class="icon">
                        <i class="bx bx-chat"></i>
                    </div>
                    <h4>
                        <a asp-controller="Source" asp-action="Index" asp-route-id="Discussions">
                            @(EnumHelper<IndexCategory>.GetDisplayName(IndexCategory.Discussions))
                        </a>
                    </h4>
                    <p contenteditable-for="Category_Discussions_Description">
                        Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi
                    </p>
                </div>
            </div><!-- End Discussions category item -->

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                    <div class="icon">
                        <i class="bx bx-message-edit"></i>
                    </div>
                    <h4>
                        <a asp-controller="Source" asp-action="Index" asp-route-id="Reviews">
                            @(EnumHelper<IndexCategory>.GetDisplayName(IndexCategory.Reviews))
                        </a>
                    </h4>
                    <p contenteditable-for="Category_Reviews_Description">
                        Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi
                    </p>
                </div>
            </div><!-- End Reviews category item -->

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                    <div class="icon">
                        <i class="bx bx-history"></i>
                    </div>
                    <h4>
                        <a asp-controller="Source" asp-action="Index" asp-route-id="Chronicles">
                            @(EnumHelper<IndexCategory>.GetDisplayName(IndexCategory.Chronicles))
                        </a>
                    </h4>
                    <p contenteditable-for="Category_Chronicles_Description">
                        Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi
                    </p>
                </div>
            </div><!-- End Chronicles category item -->

            <div class="offset-lg-4 col-lg-4 offset-md-3 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                    <div class="icon">
                        <i class="bx bx-world"></i>
                    </div>
                    <h4>
                        <a asp-controller="Source" asp-action="Index" asp-route-id="Foreign">
                            @(EnumHelper<IndexCategory>.GetDisplayName(IndexCategory.Foreign))
                        </a>
                    </h4>
                    <p contenteditable-for="Category_Foreign_Description">
                        Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi
                    </p>
                </div>
            </div><!-- End Foreign category item -->

        </div>
    </div>
</section>
<!-- End Services Section -->