@model AuthorsViewModel
@using linc.Utility
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using System.Net

<!-- ======= Services Section ======= -->
<section id="sources" class="services section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>@HtmlLocalizer["AuthorsSection_Title"]</h2>
            @* <h3>@HtmlLocalizer["CategoriesSection_SubTitle"]</h3> *@
            <p>
                @HtmlLocalizer["AuthorsSection_Description", Url.Action("Index", "Source")!]
            </p>
        </div>

        <div class="row">
            
            <div class="alphabet-sort">

                <div class="row">
                    <div class="text-center">
                        @foreach (var letter in SiteConstant.CyrillicAlphabet.Select(x => x.ToString()))
                        {
                            <div class="alphabet-letter">
                                <a href="@Url.Action("Index", "Source", new { filter = WebUtility.UrlEncode(letter) })">@letter</a>
                            </div>
                        }
                    </div>
                </div>
                    
                <div class="row">
                    <div class="text-center">
                        @foreach (var letter in SiteConstant.LatinAlphabet.Select(x => x.ToString()))
                        {
                            <div class="alphabet-letter">
                                <a href="@Url.Action("Index", "Source", new { filter = WebUtility.UrlEncode(letter) })">@letter</a>
                            </div>
                        }
                    </div>
                </div>

            </div>

            <div class="authors-search">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <form asp-controller="Source" asp-action="Index" method="get">
                                <input type="text" name="filter">
                                <input type="submit" value="@HtmlLocalizer["Search_Button_Label"]">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
<!-- End Services Section -->