<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="testimonials">

    <div class="container" data-aos="zoom-in">

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <img src="~/img/board/Aleksander.Mikołajczak.jpg" class="testimonial-img" alt="@HtmlLocalizer["Board_Aleksander.Mikołajczak_Member"]">
                        <h3>@HtmlLocalizer["Board_Aleksander.Mikołajczak_Member"]</h3>
                        <h4><a href="https://amu.edu.pl/en" target="_blank">@HtmlLocalizer["Board_Aleksander.Mikołajczak_MemberWork"]</a></h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            @HtmlLocalizer["Board_Aleksander.Mikołajczak_MemberDescription"]
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <img src="~/img/board/Elisabeth.Cheauré.jpg" class="testimonial-img" alt="@HtmlLocalizer["Board_Elisabeth.Cheauré_Member"]">
                        <h3>@HtmlLocalizer["Board_Elisabeth.Cheauré_Member"]</h3>
                        <h4><a href="https://uni-freiburg.de/en/" target="_blank">@HtmlLocalizer["Board_Elisabeth.Cheauré_MemberWork"]</a></h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            @HtmlLocalizer["Board_Elisabeth.Cheauré_MemberDescription"]
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <img src="~/img/board/Nikolay.Aretov.jpg" class="testimonial-img" alt="@HtmlLocalizer["Board_Nikolay.Aretov_Member"]">
                        <h3>@HtmlLocalizer["Board_Nikolay.Aretov_Member"]</h3>
                        <h4><a href="https://ilit.bas.bg/" target="_blank">@HtmlLocalizer["Board_Nikolay.Aretov_MemberWork"]</a></h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            @HtmlLocalizer["Board_Nikolay.Aretov_MemberDescription"]
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <img src="~/img/board/Saverio.Tomaiuolo.jpg" class="testimonial-img" alt="@HtmlLocalizer["Board_Saverio.Tomaiuolo_Member"]">
                        <h3>@HtmlLocalizer["Board_Saverio.Tomaiuolo_Member"]</h3>
                        <h4><a href="https://www.unicas.it/" target="_blank">@HtmlLocalizer["Board_Saverio.Tomaiuolo_MemberWork"]</a></h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            @HtmlLocalizer["Board_Saverio.Tomaiuolo_MemberDescription"]
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <img src="~/img/board/Suman.Gupta.jpg" class="testimonial-img" alt="@HtmlLocalizer["Board_Suman.Gupta_Member"]">
                        <h3>@HtmlLocalizer["Board_Suman.Gupta_Member"]</h3>
                        <h4><a href="https://www.open.ac.uk/" target="_blank">@HtmlLocalizer["Board_Suman.Gupta_MemberWork"]</a></h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            @HtmlLocalizer["Board_Suman.Gupta_MemberDescription"]
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <img src="~/img/board/Hüseyin.Mevsim.jpg" class="testimonial-img" alt="@HtmlLocalizer["Board_Hüseyin.Mevsim_Member"]">
                        <h3>@HtmlLocalizer["Board_Hüseyin.Mevsim_Member"]</h3>
                        <h4><a href="https://ankara.edu.tr/" target="_blank">@HtmlLocalizer["Board_Hüseyin.Mevsim_MemberWork"]</a></h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            @HtmlLocalizer["Board_Hüseyin.Mevsim_MemberDescription"]
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div><!-- End testimonial item -->

                @* TODO: намери по-подходящо място за технически сътрудници *@
                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <img src="~/img/board/Vanya.Georgieva.jpg" class="testimonial-img" alt="@HtmlLocalizer["Board_Vanya.Georgieva_Member"]">
                        <h3>@HtmlLocalizer["Board_Vanya.Georgieva_Member"]</h3>
                        <h4>@HtmlLocalizer["Board_Vanya.Georgieva_MemberWork"]</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            @HtmlLocalizer["Board_Vanya.Georgieva_MemberDescription"]
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div><!-- End testimonial item -->

            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>
</section>
<!-- End Testimonials Section -->