@* TODO: background-а на .testimonials трябва да се смени *@

<section id="board" class="section-bg">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>@HtmlLocalizer["Board_Title"]</h2>
            @* <h3>@HtmlLocalizer["Board_SubTitle"]</h3> *@
            <p>
                @HtmlLocalizer["Board_Description"]
            </p>
        </div>
    </div>
</section>

<!-- ======= Testimonials Section ======= -->
<section class="testimonials">

<div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
    <div class="swiper-wrapper">
                
        @* TODO: Кратко описание за члена на редакционния борд. В края да се включи и връзка до допълнителна информация, която е предоставил (напр. orcid). *@

        <div class="swiper-slide">
            <div class="testimonial-item">
                <img src="~/img/board/Aleksander.Mikołajczak.jpg" class="testimonial-img" alt="@HtmlLocalizer["Board_Aleksander.Mikołajczak_Member"]">
                <h3>@HtmlLocalizer["Board_Aleksander.Mikołajczak_Member"]</h3>
                <h4><a href="https://amu.edu.pl/en" target="_blank">@HtmlLocalizer["Board_Aleksander.Mikołajczak_MemberWork"]</a></h4>
                @*<p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    <span contenteditable-for="Board_Aleksander.Mikołajczak_MemberDescription"></span>
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>*@
                <div class="social">
                    <a href="https://orcid.org/0000-0002-4495-7440" target="_blank">
                        <i class="bi bi-person-square"></i>
                    </a>
                </div>
            </div>
        </div><!-- End testimonial item -->
                
        <div class="swiper-slide">
            <div class="testimonial-item">
                <img src="~/img/board/Ana.Kocheva.jpg" class="testimonial-img" alt="@HtmlLocalizer["Board_Ana.Kocheva_Member"]">
                <h3>@HtmlLocalizer["Board_Ana.Kocheva_Member"]</h3>
                <h4><a href="https://ibl.bas.bg/" target="_blank">@HtmlLocalizer["Board_Ana.Kocheva_MemberWork"]</a></h4>
                @*<p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    <span contenteditable-for="Board_Ana.Kocheva_MemberDescription"></span>
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>*@
                <div class="social">
                    <a href="https://orcid.org/0000-0002-4674-2064" target="_blank">
                        <i class="bi bi-person-square"></i>
                    </a>
                </div>
            </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
            <div class="testimonial-item">
                <img src="~/img/board/Elisabeth.Cheauré.jpg" class="testimonial-img" alt="@HtmlLocalizer["Board_Elisabeth.Cheauré_Member"]">
                <h3>@HtmlLocalizer["Board_Elisabeth.Cheauré_Member"]</h3>
                <h4><a href="https://uni-freiburg.de/en/" target="_blank">@HtmlLocalizer["Board_Elisabeth.Cheauré_MemberWork"]</a></h4>
                @*<p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    <span contenteditable-for="Board_Elisabeth.Cheauré_MemberDescription"></span>
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>*@
                <div class="social">
                    <a href="https://www.slavistik.uni-freiburg.de/personal/elisabeth-cheaure" target="_blank">
                        <i class="bi bi-person-square"></i>
                    </a>
                </div>
            </div>
        </div><!-- End testimonial item -->
                
        <div class="swiper-slide">
            <div class="testimonial-item">
                <img src="~/img/board/Iliyana.Krapova.jpg" class="testimonial-img" alt="@HtmlLocalizer["Board_Iliyana.Krapova_Member"]">
                <h3>@HtmlLocalizer["Board_Iliyana.Krapova_Member"]</h3>
                <h4><a href="https://www.unive.it/dep.dslcc" target="_blank">@HtmlLocalizer["Board_Iliyana.Krapova_MemberWork"]</a></h4>
                @*<p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    <span contenteditable-for="Board_Iliyana.Krapova_MemberDescription"></span>
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>*@
                <div class="social">
                    <a href="https://orcid.org/0000-0002-7682-6787" target="_blank">
                        <i class="bi bi-person-square"></i>
                    </a>
                </div>
            </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
            <div class="testimonial-item">
                <img src="~/img/board/Nikolay.Aretov.jpg" class="testimonial-img" alt="@HtmlLocalizer["Board_Nikolay.Aretov_Member"]">
                <h3>@HtmlLocalizer["Board_Nikolay.Aretov_Member"]</h3>
                <h4><a href="https://ilit.bas.bg/" target="_blank">@HtmlLocalizer["Board_Nikolay.Aretov_MemberWork"]</a></h4>
                @*<p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    <span contenteditable-for="Board_Nikolay.Aretov_MemberDescription"></span>
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>*@
                <div class="social">
                    <a href="https://orcid.org/0000-0003-0488-5179" target="_blank">
                        <i class="bi bi-person-square"></i>
                    </a>
                </div>
            </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
            <div class="testimonial-item">
                    <img src="~/img/board/Saverio.Tomaiuolo.jpg" class="testimonial-img" alt="@HtmlLocalizer["Board_Saverio.Tomaiuolo_Member"]">
                <h3>@HtmlLocalizer["Board_Saverio.Tomaiuolo_Member"]</h3>
                <h4><a href="https://www.unicas.it/" target="_blank">@HtmlLocalizer["Board_Saverio.Tomaiuolo_MemberWork"]</a></h4>
                @*<p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    <span contenteditable-for="Board_Saverio.Tomaiuolo_MemberDescription"></span>
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>*@
                <div class="social">
                    <a href="https://orcid.org/0000-0002-4457-8053" target="_blank">
                        <i class="bi bi-person-square"></i>
                    </a>
                </div>
            </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
            <div class="testimonial-item">
                <img src="~/img/board/Suman.Gupta.jpg" class="testimonial-img" alt="@HtmlLocalizer["Board_Suman.Gupta_Member"]">
                <h3>@HtmlLocalizer["Board_Suman.Gupta_Member"]</h3>
                <h4><a href="https://www.open.ac.uk/" target="_blank">@HtmlLocalizer["Board_Suman.Gupta_MemberWork"]</a></h4>
                @*<p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    <span contenteditable-for="Board_Suman.Gupta_MemberDescription"></span>
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>*@
                <div class="social">
                    <a href="https://www.open.ac.uk/people/sg2226" target="_blank">
                        <i class="bi bi-person-square"></i>
                    </a>
                </div>

            </div>
        </div><!-- End testimonial item -->
                
        <div class="swiper-slide">
            <div class="testimonial-item">
                <img src="~/img/board/Joaquín.García-Medall.jpg" class="testimonial-img" alt="@HtmlLocalizer["Board_Joaquín.García-Medall_Member"]">
                <h3>@HtmlLocalizer["Board_Joaquín.García-Medall_Member"]</h3>
                <h4><a href="https://universityofvalladolid.uva.es/" target="_blank">@HtmlLocalizer["Board_Joaquín.García-Medall_MemberWork"]</a></h4>
                @*<p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    <span contenteditable-for="Board_Joaquín.García-Medall_MemberDescription"></span>
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>*@
                <div class="social">
                    <a href="https://orcid.org/0000-0002-5052-9792" target="_blank">
                        <i class="bi bi-person-square"></i>
                    </a>
                </div>
            </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
            <div class="testimonial-item">
                <a href="https://avesis.ankara.edu.tr/hmevsim" target="_blank">
                    <img src="~/img/board/Hüseyin.Mevsim.jpg" class="testimonial-img" alt="@HtmlLocalizer["Board_Hüseyin.Mevsim_Member"]">
                </a>
                <h3>@HtmlLocalizer["Board_Hüseyin.Mevsim_Member"]</h3>
                <h4><a href="https://ankara.edu.tr/" target="_blank">@HtmlLocalizer["Board_Hüseyin.Mevsim_MemberWork"]</a></h4>
                @*<p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    <span contenteditable-for="Board_Hüseyin.Mevsim_MemberDescription"></span>
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>*@
                <div class="social">
                    <a href="https://avesis.ankara.edu.tr/hmevsim" target="_blank">
                        <i class="bi bi-person-square"></i>
                    </a>
                </div>
            </div>
        </div><!-- End testimonial item -->

        @* TODO: Кратко описание на техническия сътрудник както и допълнителна информация, която е предоставил (напр. orcid). *@
        @* TODO: намери по-подходящо място за технически сътрудници *@

        @*<div class="swiper-slide">
                    <div class="testimonial-item">
                        <img src="~/img/board/Vanya.Georgieva.jpg" class="testimonial-img" alt="@HtmlLocalizer["Board_Vanya.Georgieva_Member"]">
                        <h3>@HtmlLocalizer["Board_Vanya.Georgieva_Member"]</h3>
                        <h4><a href="https://slovo.uni-plovdiv.bg/%D1%81%D1%8A%D1%81%D1%82%D0%B0%D0%B2-%D0%BD%D0%B0-%D0%BA%D0%B0%D1%82%D0%B5%D0%B4%D1%80%D0%B0%D1%82%D0%B0-2/" target="_blank">@HtmlLocalizer["Board_Vanya.Georgieva_MemberWork"]</a></h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            <span contenteditable-for="Board_Vanya.Georgieva_MemberDescription"></span>
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div><!-- End testimonial item -->*@

    </div>
    <div class="swiper-pagination"></div>
    </div>
</section>
<!-- End Testimonials Section -->

<section id="editorial-assisstants">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <p class="pt-4 text-center text-body-emphasis">
                @HtmlLocalizer["Team_EditorialAssistants_SubTitle"]: @HtmlLocalizer["Team_V.Georgieva_Member"]
            </p>
        </div>
    </div>
</section>

