@using linc.Utility
@using Microsoft.AspNetCore.Localization

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var currentCulture = requestCulture?.RequestCulture.UICulture.Name ?? "bg";
}

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>@HtmlLocalizer["ContactSection_Title"]</h2>
            @* <h3>@HtmlLocalizer["ContactSection_SubTitle"]</h3> *@
            <p>
                @HtmlLocalizer["ContactSection_Description"]
            </p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-6">
                <div class="info-box mb-4">
                    <i class="bx bx-map"></i>
                    <h3 class="title">
                        <a href="https://maps.app.goo.gl/QTJvqc3Fb7WAnivX6" target="_blank">
                            @HtmlLocalizer["ContactSection_Address_Title"]
                        </a>
                    </h3>
                    <p>
                        @HtmlLocalizer["ContactSection_Address_Location"] <br />
                        @HtmlLocalizer["ContactSection_Review_Email"]: <a href="mailto:@SiteConstant.ReviewsEmail">@SiteConstant.ReviewsEmail</a>
                    </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="info-box  mb-4">
                    <a href="@Url.Content($"~/docs/{currentCulture}/{SiteConstant.TechnicalRequirementsFileName}")">
                        <i class="bx bxs-download"></i>
                    </a>
                    <h3 class="title">
                        <a href="@Url.Content($"~/docs/{currentCulture}/{SiteConstant.TechnicalRequirementsFileName}")">
                            @HtmlLocalizer["ContactSection_TechnicalRequirements_Title"]
                        </a>
                    </h3>
                    <p>
                        @HtmlLocalizer["ContactSection_TechnicalRequirements_Description"]
                    </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="info-box  mb-4">
                    <a href="@Url.Content($"~/docs/{SiteConstant.PublicationAgreementFileName}")">
                        <i class="bx bxs-download"></i>
                    </a>
                    <h3 class="title">
                        <a href="@Url.Content($"~/docs/{SiteConstant.PublicationAgreementFileName}")">
                            @HtmlLocalizer["ContactSection_PublicationAgreement_Title"]
                        </a>
                    </h3>
                    <p>
                        @HtmlLocalizer["ContactSection_PublicationAgreement_Description"]
                    </p>
                </div>
            </div>

        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">

            <div class="col-lg-6 ">
                <iframe class="mb-4 mb-lg-0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2958.5801970032817!2d24.750449699999997!3d42.137869599999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14acd1ae19df5257%3A0xeedd7ca6dd0cf25c!2sTsentarPlovdiv%20Center%2C%20King%20Asen%20St%2024%2C%204000%20Plovdiv!5e0!3m2!1sen!2sbg!4v1710577133992!5m2!1sen!2sbg"
                        style="border: 0; width: 100%; height: 384px;"
                        referrerpolicy="no-referrer-when-downgrade"
                        loading="lazy"
                        allowfullscreen>
                </iframe>
            </div>

            <div class="col-lg-6">
                <div class="php-email-form">
                    <p class="text-end" contenteditable-for="ContactSection_Submit_Guideliness">
                        @HtmlLocalizer["ContactSection_Submit_Guidelines"]
                    </p>
                    <div class="text-end">
                        <a class="btn" target="_blank" href="mailto:@SiteConstant.ReviewsEmail">@HtmlLocalizer["Submit_Button_Label"]</a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
<!-- End Contact Section -->