@using linc.Utility
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.TagHelpers

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var currentCulture = requestCulture?.RequestCulture.UICulture.Name ?? "bg";
}

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>@HtmlLocalizer["ContactSection_Title"]</h2>
            @* <h3>@HtmlLocalizer["ContactSection_SubTitle"]</h3> *@
            <p contenteditable-for="ContactSection_Description">
                Процедура по приемане, рецензиране и публикуване на текст.
            </p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-6">
                <div class="info-box mb-4">
                    <i class="bx bx-map"></i> @* TODO: Open Google Maps with Plovdiv University location *@
                    <h3 class="title"><a href="#">@HtmlLocalizer["ContactSection_Address_Title"]</a></h3>
                    <p>
                        @HtmlLocalizer["ContactSection_Address_Location"] <br />
                        @HtmlLocalizer["ContactSection_Review_Email"]: <a href="mailto:@SiteConstant.ReviewsEmail">@SiteConstant.ReviewsEmail</a>
                    </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="info-box  mb-4">
                    <i class="bx bxs-download"></i>
                    <h3 class="title">
                        <a href="@Url.Content($"~/docs/{currentCulture}/{SiteConstant.TechnicalRequirementsFileName}")">
                            @HtmlLocalizer["ContactSection_TechnicalRequirements_Title"]
                        </a>
                    </h3>
                    <p contenteditable-for="ContactSection_Submit_Description">
                        Запознайте се с техническите изисквания към предложените за публикуване текстове.
                    </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="info-box  mb-4">
                    <i class="bx bxs-download"></i>
                    <h3 class="title">
                        <a href="@Url.Content($"~/docs/{SiteConstant.PublicationAgreementFileName}")">
                            @HtmlLocalizer["ContactSection_PublicationAgreement_Title"]
                        </a>
                    </h3>
                    <p contenteditable-for="ContactSection_Codex_Description">
                        Изпратете подписана декларация за съгласие статията да бъде издадена.
                    </p>
                </div>
            </div>

        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">

            <div class="col-lg-6 ">
                <iframe class="mb-4 mb-lg-0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border: 0; width: 100%; height: 384px;" allowfullscreen></iframe>
            </div>

            <div class="col-lg-6">
                <div class="php-email-form">
                    <p class="text-end" contenteditable-for="ContactSection_Submit_Guideliness">
                        Предложеният за публикуване текст се изпраща като прикачен файл към email до Редакцията на списанието 
                        заедно с подписана декларация за съгласие статията/студията да бъде издадена.
                        <br/>
                        <br/>
                        Файлът трябва да е с разширение .doc, .docx.
                    </p>
                    <div class="text-end">
                        <a class="btn" target="_blank" href="mailto:@SiteConstant.ReviewsEmail">@HtmlLocalizer["ContactSection_SubmitButton_Label"]</a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
<!-- End Contact Section -->