@using linc.Utility
@model CountsViewModel

<!-- ======= Counts Section ======= -->
<section id="counts" class="counts">
    <div class="container" data-aos="fade-up">

        <div class="row">

            <div class="col-lg-3 col-md-6">
                <div class="count-box">
                    <i class="bx bxs-group"></i>
                    <span data-purecounter-start="0" data-purecounter-end="@Model.UsersCount" data-purecounter-duration="1" class="purecounter"></span>
                    <p>@Html.DisplayNameFor(m => m.UsersCount)</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
                <div class="count-box">
                    <i class="bx bxs-pen"></i>
                    <span data-purecounter-start="0" data-purecounter-end="@Model.HeadEditorsCount" data-purecounter-duration="1" class="purecounter"></span>
                    <p>@Html.DisplayNameFor(m => m.HeadEditorsCount)</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                <div class="count-box">
                    <i class="bx bx-edit-alt"></i>
                    <span data-purecounter-start="0" data-purecounter-end="@Model.EditorsCount" data-purecounter-duration="1" class="purecounter"></span>
                    <p>@Html.DisplayNameFor(m => m.EditorsCount)</p>
                </div>
            </div>
            
            <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                <div class="count-box">
                    <i class="bx bxs-user-pin"></i>
                    <span data-purecounter-start="0" data-purecounter-end="@Model.EditorsBoardCount" data-purecounter-duration="1" class="purecounter"></span>
                    <p>@Html.DisplayNameFor(m => m.EditorsBoardCount)</p>
                </div>
            </div>

            @*<div class="col-lg-2 col-md-12 mt-5 mt-lg-0">
                <div class="count-box">
                    <i class="bi bi-people"></i>
                    <span data-purecounter-start="0" data-purecounter-end="@Model.AdministratorsCount" data-purecounter-duration="1" class="purecounter"></span>
                    <p>@Html.DisplayFor(m => m.AdministratorsCount)</p>
                </div>
            </div>*@

        </div>

    </div>
</section>
<!-- End Counts Section -->
