@using linc.Utility
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.TagHelpers

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var currentCulture = requestCulture?.RequestCulture.UICulture.Name ?? "bg";
}

<!-- ======= Featured Services Section ======= -->
<section id="featured-services" class="featured-services">
    <div class="container" data-aos="fade-up">

        <div class="row">
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon">
                        <i class="bx bx-file"></i>
                    </div>
                    <h4 class="title">
                        <a class="scrollto" asp-controller="Home" asp-action="Index" asp-fragment="contact">@HtmlLocalizer["FeaturedSection_Submit_Title"]</a>
                    </h4>
                    <p class="description">
                        @HtmlLocalizer["FeaturedSection_Submit_Description"]
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon">
                        <i class="bx bx-list-check"></i>
                    </div>
                    <h4 class="title">
                        <a class="scrollto" asp-controller="Home" asp-action="Index" asp-fragment="team">@HtmlLocalizer["FeaturedSection_Review_Title"]</a>
                    </h4>
                    <p class="description">
                        @HtmlLocalizer["FeaturedSection_Review_Description"]
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                    <div class="icon">
                        <i class="bx bxs-graduation"></i>
                    </div>
                    <h4 class="title">
                        <a class="scrollto" asp-controller="Home" asp-action="Index" asp-fragment="team">@HtmlLocalizer["FeaturedSection_Team_Title"]</a>
                    </h4>
                    <p class="description">
                        @HtmlLocalizer["FeaturedSection_Team_Description"]
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                    <div class="icon">
                        <i class="bx bx-world"></i>
                    </div>
                    <h4 class="title">
                        <a class="scrollto" asp-controller="Home" asp-action="Index" asp-fragment="about">@HtmlLocalizer["FeaturedSection_International_Title"]</a>
                    </h4>
                    <p class="description">
                        @HtmlLocalizer["FeaturedSection_International_Description"]
                    </p>
                </div>
            </div>

        </div>

    </div>
</section>
<!-- End Featured Services Section -->