@model PortfolioViewModel

<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>@HtmlLocalizer["PortfolioSection_Title"]</h2>
            @* <h3>@HtmlLocalizer["PortfolioSection_SubTitle"]</h3> *@
            <p contenteditable-for="PortfolioSection_Description">
                Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.
            </p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-12 d-flex justify-content-center">
                <ul id="portfolio-flters">
                    <li data-filter="*" class="filter-active">@HtmlLocalizer["PortfolioSection_Filter_All"]</li>
                    @foreach (var year in Model.IssueYears)
                    {
                        <li data-filter=".filter-@year">@year</li>
                    }
                </ul>
            </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
            
            @foreach (var issue in Model.Issues)
            {
                <div class="col-lg-4 col-md-6 portfolio-item filter-@issue.ReleaseYear">
                    <a asp-controller="Issue" asp-action="Details" asp-route-id="@issue.Id">
                        <img src="@Url.Action("LoadFile", "Issue", new { id = issue.CoverPageId })" class="img-fluid" alt="">
                    </a>
                    <div class="portfolio-info">
                        <h4>@HtmlLocalizer["Issue_Number_Label"] @issue.IssueNumber</h4>
                        <p>@issue.ReleaseDate.ToString("dddd, dd MMMM yyyy")</p>
                        @if (!string.IsNullOrEmpty(issue.Description))
                        {
                            <pre class="pt-2">@issue.Description</pre>
                        }
                        <a href="@issue.CoverPageRelativePath" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="@HtmlLocalizer["Issue_Zoom_Label", issue.IssueNumber, issue.ReleaseYear]">
                            <i class="bx bx-zoom-in"></i>
                        </a>
                        <a asp-controller="Issue" asp-action="Details" asp-route-id="@issue.Id" class="details-link" title="@HtmlLocalizer["Issue_Details_Label"]">
                            <i class="bx bx-book-open"></i>
                        </a>
                    </div>
                </div>
            }

        </div>

    </div>
</section>
<!-- End Portfolio Section -->