@model ReviewsViewModel

<!-- ======= Skills Section ======= -->
<section id="skills" class="skills">
    <div class="container" data-aos="fade-up">

        <div class="row skills-content">

            <div class="col-lg-6">

                <div class="progress">
                    <span class="skill">@HtmlLocalizer["Category_Articles"] <i class="val">@Model.ReviewedArticlesPercent%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="@Model.ReviewedArticlesPercent" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

                <div class="progress">
                    <span class="skill">@HtmlLocalizer["Category_Analyses"] <i class="val">@Model.ReviewedAnalysesPercent%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="@Model.ReviewedAnalysesPercent" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

                <div class="progress">
                    <span class="skill">@HtmlLocalizer["Category_Surveys"] <i class="val">@Model.ReviewedSurveysPercent%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="@Model.ReviewedSurveysPercent" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

            </div>

            <div class="col-lg-6">

                <div class="progress">
                    <span class="skill">@HtmlLocalizer["Category_Discussions"] <i class="val">@Model.ReviewedDiscussionsPercent%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="@Model.ReviewedDiscussionsPercent" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

                <div class="progress">
                    <span class="skill">@HtmlLocalizer["Category_Reviews"] <i class="val">@Model.ReviewedReviewsPercent%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="@Model.ReviewedReviewsPercent" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

                <div class="progress">
                    <span class="skill">@HtmlLocalizer["Category_Chronicles"] <i class="val">@Model.ReviewedChroniclesPercent%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="@Model.ReviewedChroniclesPercent" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

            </div>
            
            <div class="col-lg-6">

                <div class="progress">
                    <span class="skill">@HtmlLocalizer["Category_Foreign"] <i class="val">@Model.ReviewedForeignPercent%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="@Model.ReviewedForeignPercent" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

            </div>

        </div>
        
        <div class="row">
            <p class="text-end">
                <small>@HtmlLocalizer["Reviews_Message"]</small>
            </p>
        </div>

    </div>
</section>
<!-- End Skills Section -->