@using linc.Utility
@{
    ViewData["Title"] = HtmlLocalizer["HomeSubmit_Title"];
}

@section Breadcrumbs {
    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>@ViewData["Title"]</h2>
                <ol>
                    <li>
                        <a href="/">@HtmlLocalizer["NavItem_Home"]</a>
                    </li>
                    <li>@HtmlLocalizer["NavItem_Submit"]</li>
                </ol>
            </div>

        </div>
    </section>
    <!-- End Breadcrumbs -->
}

<section id="submission-guideliness" class="portfolio-details">
    <div class="container">
        <div class="portfolio-description">
            <h2>
                ПРОЦЕДУРА ПО ПРИЕМАНЕ, РЕЦЕНЗИРАНЕ И ПУБЛИКУВАНЕ НА ТЕКСТ
            </h2>
            <p>
                Предложеният за публикуване текст се разглежда от съответния редакторски екип (езиковедски или литературоведски). Ако статията/студията отговаря на профила на изданието и е съобразена с посочените на сайта ни технически изисквания, главният редактор след заличаване на данните на автора (име, институционална принадлежност и т.н.) я изпраща за анонимно рецензиране. Ако един от двамата рецензенти препоръча текстът да не бъде публикуван, а другият подкрепи издаването му, главният редактор се обръща към трети рецензент, чиято оценка решава дали списанието ще помести разработката. Редактор информира автора за въпроси, бележки и препоръки, формулирани от рецензентите, и работи с автора по евентуални промени в научното изложение. След коректорския прочит и странирането на текста авторът отново го получава за последни (малки) корекции и за да потвърди съгласието си статията/студията да бъде издадена в окончателния ѝ одобрен от Редакцията вид.
            </p>
        </div>
        <div class="portfolio-description">
            <h2 class="pt-4">
                ТЕХНИЧЕСКИ ИЗИСКВАНИЯ
            </h2>
            <div>
                <p>
                    В списанието се поместват текстове на български и на английски език: изследвания (до 45 000 знака с интервалите) и рецензии (до 10 000 знака с интервалите), които не са излизали включително и като части от книги и не са депозирани в други издания. Материали с по-голям обем от посочения за съответната категория се разглеждат и публикуват по преценка на редакторите. Текстовете се изпращат на адрес <a href="mailto:review-linc@uni-plovdiv.bg">review-linc@uni-plovdiv.bg</a>.  във формати .doc или .docx  и .pdf, шрифт Times New Roman.
                </p>
                <p>
                    Най-напред се посочват авторовото лично име и фамилия, както и институцията, към която изследователят принадлежи; следва заглавието на статията/студията. Основните тези на труда се представят в резюме с обем до 200 думи (ключови думи  до 7). Ако оригиналният текст е на български, всичко изброено се представя и на английски. След изложението се поместват благодарности (евентуално), цитирана литература, използвани съкращения, информация за автора (на английски език име, степен, длъжност, месторабота, град, страна, служебен e-mail, по възможност персонален ID номер / WoS, Scopus, ORCID, РИНЦ). В отделен файл се изпраща кратка справка за професоналното поле, в което се изявява авторът, областите на научните му интереси, репрезентабилните му изследвания.
                </p>
                <p>
                    Ако изследването включва графики, таблици и/или илюстрации, те се номерират и се поместват там, където се споменават за първи път, а не в края на текста.
                </p>
                <p>
                    Не се препоръчва в изложението да се използват табулиране, болдиране, подчертаване, разредки в рамките на дума, думи или пасажи само с главни букви (смислов акцент може да се обозначи чрез курсивиране); в текстовете на кирилица вековете се изписват с римски цифри, в текстовете на английски с арабски.
                </p>
                <p>
                    Бележките са под черта, автоматично номерирани (10 пункта, единична разредка).
                </p>
                <p>
                    Не се препоръчва автоцитиране.
                </p>
                <p>
                    Цититираните източници се посочват вътре в текста. В кръгли скоби се изписва фамилията на цитирания автор, годината на издаване на съответния труд, след двоеточие страницата/страниците.
                </p>

                <p class="fst-italic">Примери</p>

                <ul class="mx-4">
                    <li>
                        когато се визира цяло произведение:
                        <br />One such example is Dan Dana’s analysis of the heritage of Zalmoxis (Dana 2008);
                    </li>
                    <li>
                        при цитиране на определена страница или страници:
                        <br />… The deverbative noun… (Markey 1985: 209; Hamp 1982: 165–166).
                    </li>
                    <li>
                        при цитиране на текстове на кирилица авторовото име в скобите се изписва и транслитерирано:
                        <br />Both languages shared the devoicing of the PIE glottalic stops (Дуриданов / Duridanov 1976: 101).
                    </li>
                    <li>
                        При транслитериране на кирилица или на гръцка азбука се спазват правилата за транслитерация, утвърдени от съответната държава. Българските имена и заглавия се транслитерират според Закона за транслитерация на Република България <a href="https://www.mrrb.bg/bg/zakon-za-transliteraciyata/">https://www.mrrb.bg/bg/zakon-za-transliteraciyata/</a>; като помощник при транслитерирането на българската кирилица може да се използва <a href="https://slovored.com/transliteration/">https://slovored.com/transliteration/</a>, за руската кирилица <a href="https://www.seo-ap.ru/translit/">https://www.seo-ap.ru/translit/</a>.
                    </li>
                    <li>
                        Електронни източници се цитират, като в скоби се посочват името на автора и датата на съответната публикация. Ако авторът е неизвестен, се посочват заглавието и датата (при дълги заглавия се изписват първите две-три думи). Цитираните електронни източници също присъстват в списъка с използвана литература.
                    </li>
                </ul>

                <p>
                    В списъка на цитираните изследователи и трудове авторовите фамилии се подреждат азбучно (кирилица, латиница, гръцка азбука), като изписаното с кирилска или с гръцка азбука следва да се даде транслитерирано в квадратни скоби веднага след оригиналния текст. Посочва се ISBN / ISSN, DOI, ако съответното издание/съответната публикация притежава такъв идентификатор.
                </p>

                <p class="fst-italic">Примери</p>

                <ul>
                    <li>
                        Книги с един автор:
                        <br />Lewis 2002: Lewis, G. The Turkish Language Reform: A Catastrophic Success. New York: Oxford University Press. ISBN 978-0199256693.
                        <br />Андрейчин 1944: Андрейчин, Л. Основна българска граматика. София: Хемус. [Andreychin 1944: Andreychin, L. Osnovna balgarska gramatika. Sofia: Hemus.].
                    </li>
                    <li>
                        Книги с повече от един автор:
                        <br />Thomason & Kaufmann 1992: Thomason, S. & Kaufmann, T. Language Contact, Creolization, and Genetic Linguistics. Berkeley: University of California Press. ISBN 9780520078932.
                        <br />Килева-Стаменова, Денчева 1997: Килева-Стаменова, Р., Денчева, Е. Речник: „неверните приятели на преводача“. Пловдив: Lettera. [Kileva-Stamenova, Dentscheva 1997: Kileva-Stamenova, R., Dencheva, Е. Rechnik: „nevernite priyateli na prevodacha“. Plovdiv: Lettera.]. ISBN 954-516-066-7

                    </li>
                    <li>
                        Когато един автор има повече от една публикация в дадена година, публикациите се показват по азбучния ред на заглавията:
                        <br />Георгиев 1957а: Георгиев, Вл. По въпроса за носовите гласни в съвременния български език. Български език, 7 (1957), 4, 353–376. [Georgiev 1957a: Georgiev, Vl.Po vaprosa za nosovite glasni v savremenniya balgarski ezik. Balgarski ezik, 7 (1957), 4, 353–376.]. ISSN 0005-4283
                        <br />Георгиев 1957б: Георгиев, Вл. Тракийският език. София: БАН. [Georgiev 1957b: Georgiev, Vl. Trakiyskiyat ezik. Sofia: BAN.].

                    </li>
                    <li>
                        Публикации в сборници:
                        <br />Lubotsky 2001: Lubotsky, A. The Indo-Iranian Substratum. In: Carpelan, C., Parpola, A., Koskikallio, P. (Eds.): Early Contacts between Uralic and Indo-European: Linguistic and Archaeological Considerations. Vammala: Finno-Ungaric Society, 301–317. ISBN 9255150593.
                        <br />Таринска 1980: Таринска, Ст. Софроний Врачански, румънското общество и румънската литература. В: Русев, П., Ангелов, Б., Конев, И., Кицимия, Й., Велики, К., Ангелеску, М. (ред.): Българо-румънски литературни взаимоотношения през XIX век. София: БАН, 179–201.[Tarinska 1980: Tarinska, St. Sofroniy Vrachanski, rumanskoto obshtestvo i rumanskata literature. V: Rusev, P., Angelov, B., Konev, I., Kicimiya, Y. Veliki, K., Angelesku, M. (red.): Balgaro-rumanski literaturni vzaimootnosheniya prez XIX vek. Sofia: BAN, 179–201.].

                    </li>
                    <li>
                        Публикации в периодични издания:
                        <br />Weigand 1921: Weigand, G. Die bulgarischen Rufnamen, ihre Herkunft, Kürzungen und Neubildungen. Jahresbericht des Instituts für rumänische Sprache zu Leipzig, XXVI–XXIX, 104–192.
                        <br />Мирчев 1952: Мирчев, К. За периодизацията на историята на българския език. Известия на Института за български език, 1 (1952), 194–202. [Mirchev 1952: Mirchev, K. Za periodizaciyata na istoriyata na balgarskiya ezik. Izvestiya na Instituta za balgarski ezik, 1 (1952), 194–202.]. ISSN 0323-9934

                    </li>
                    <li>
                        Речници:
                        <br />БЕР = Български етимологичен речник. София: БАН. 1971–.[BER = Balgarski etimologichen rechnik. Sofia: BAN. 1971–.].
                    </li>
                    <li>
                        Електронни ресурси:
                        <ul>
                            <li>
                                Книги:
                                <br />Dereń 2005: Dereń, B. Pochodne nazw własnych w słowniku i w tekscie. Opole: “Uniwersytet Opolski”, 2005. [Studia i Monografie, Nr 348]. &lt;https://www.sbc.org.pl/Content/77263/&gt;, retrieved on 09.10.2015.
                            </li>
                            <li>
                                Статии:
                                <br />Rose-Redwood & Alderman 2011: Rose-Redwood, R. & Alderman, D. Critical Interventions in Political Toponymy. ACME: An International E-Journal for Critical Geographies, 10 (2011), 1, 1–6. &lt;http://www.acme-journal.org/index.php/acme/article/view/879/735&gt;, retrieved on 06.11.2016.
                            </li>
                        </ul>

                    </li>
                </ul>

                <p class="fw-bold p-2">
                    Редакцията си запазва правото да не разглежда текстове, които не са съобразени с оповестените технически изисквания към предложените за публикуване трудове.
                </p>
            </div>
        </div>

    </div>
</section>

@section Newsletter {
    <div class="footer-newsletter">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <p>@HtmlLocalizer["HomeSubmit_SubmitButton_Description"]</p>
                    <a href="mailto:@SiteConstant.ReviewsEmail" class="w-100 btn btn-lg btn-primary">@HtmlLocalizer["HomeSubmit_SubmitButton_Label"]</a>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    <script>
        $(document).ready(function() {
            $("#nav-contact").addClass('active');
        })
    </script>
}