@using linc.Models.Enumerations
@using linc.Utility
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model DossierDetailsViewModel

@{
    ViewData["Title"] = HtmlLocalizer["Dossier_DetailsPage_Title"];
}

@section Breadcrumbs {
    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>@ViewData["Title"]</h2>
                <ol>
                    <li>
                        <a href="/">@HtmlLocalizer["NavItem_Home"]</a>
                    </li>
                    <li>
                        <a asp-action="Index">@HtmlLocalizer["Dossier_List_Label"]</a>
                    </li>
                    <li>@HtmlLocalizer["Details_Label"]</li>
                </ol>
            </div>

        </div>
    </section>
    <!-- End Breadcrumbs -->
}

<section>
    <div class="container">
        
        <h1>@Model.Title</h1>
        <small>@HtmlLocalizer["Dossier_ListHeader_Status"]: @(EnumHelper<ApplicationDossierStatus>.GetDisplayName(Model.Status))</small>

        @if (User.IsAtLeast(SiteRole.HeadEditor) || (User.Is(SiteRole.Editor) && User.GetUserId() == Model.AssignedToId))
        {
            <p class="text-end">
                <a asp-action="Edit" asp-route-id="@Model.Id">@HtmlLocalizer["Edit_Label"]</a>
            </p>
        }
        else if (string.IsNullOrEmpty(Model.AssignedTo))
        {
            <p class="text-end">
                <a asp-action="Edit" asp-route-id="@Model.Id">@HtmlLocalizer["Edit_Label"]</a>
            </p>
        }

        <hr/>

        <div class="row">
            <div class="col-lg-9">
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.AuthorNames)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.AuthorNames)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.AuthorEmail)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.AuthorEmail)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.AssignedTo)
                    </dt>
                    <dd class="col-sm-10">
                        @if (!string.IsNullOrEmpty(Model.AssignedTo))
                        {
                            @Html.DisplayFor(model => model.AssignedTo)
                        }
                        else
                        {
                            @HtmlLocalizer["Dossier_DetailsPage_NoEditorAssigned"]
                        }
                    </dd>
                </dl>
                
                <hr />
                
                <table class="table table-hover">
                    <thead class="table-light">
                    <tr>
                        <th class="col-md-2">
                            @HtmlLocalizer["DossierDocument_ListHeader_DocumentType"]
                        </th>
                        <th class="col-md-7">
                            @HtmlLocalizer["DossierDocument_ListHeader_OriginalFileName"]
                        </th>
                        <th class="text-center col-md-2">
                                @HtmlLocalizer["DossierDocument_ListHeader_DateCreated"]
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model.Documents)
                    {
                        <tr>
                            <td class="col-md-2">
                                @Html.DisplayFor(modelItem => item.DocumentType)
                            </td>
                            <td class="col-md-8">
                                <a asp-controller="Document" asp-action="DownloadDocumentFile" asp-route-id="@item.Id">
                                    @Html.DisplayFor(modelItem => item.OriginalFileName)
                                </a>
                            </td>
                            <td class="text-center col-md-2">
                                    @item.DateCreated.ToString("dd MMM yyyy")
                            </td>
                        </tr>
                    }
                    </tbody>

                </table>

            </div>
            <div class="col-lg-3">
                <div class="journal-entries">
                    @foreach (var entry in Model.Journals)
                    {
                        <p class="journal-entry">
                            <small>@entry.DateCreated.ToString("dd MMM yyyy"), @entry.PerformedBy.Names</small><br/>
                            @HtmlLocalizer[entry.Message]
                        </p>
                    }
                </div>
            </div>
        </div>

    </div>
</section>

@section Newsletter {
    <partial name="_ReportBug" />
}