@model SourceUpdateViewModel

@* TODO: Localize *@

@{
    ViewData["Title"] = "Edit";
}

@section Breadcrumbs {
    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>@ViewData["Title"]</h2>
                <ol>
                    <li>
                        <a href="/">@HtmlLocalizer["NavItem_Home"]</a>
                    </li>
                    <li>
                        <a asp-area="Identity" asp-page="/Account/Manage/Administration">@HtmlLocalizer["ManageNavItem_Administration"]</a>
                    </li>
                    <li>
                        <a asp-action="Admin">@HtmlLocalizer["List_Label"]</a>
                    </li>
                    <li>
                        #@Model.Id
                    </li>
                </ol>
            </div>

        </div>
    </section>
    <!-- End Breadcrumbs -->
}

<div class="row">
    <div class="col-lg-12">
        <form asp-action="Edit">
            
            <h3>@HtmlLocalizer["Source_EditPage_SubTitle"]</h3>
            
            <ul class="list-operations">
                <li>
                    <i class="bi bi-chevron-double-left"></i>
                    <a asp-action="Admin">@HtmlLocalizer["Source_AdminPage_Title"]</a>
                </li>
            </ul>

            <hr />

            <div asp-validation-summary="All" class="invalid-feedback"></div>

            <input type="hidden" asp-for="Id"/>

            <div class="form-floating ">
                <input asp-for="Title" class="form-control" />
                <label asp-for="Title" class="form-label"></label>
                <span asp-validation-for="Title" class="invalid-feedback"></span>
            </div>

            <div class="form-group">
                <label asp-for="TitleNotes" class="form-label"></label>
                <textarea asp-for="TitleNotes" class="form-control" rows="6"></textarea>
                <span asp-validation-for="TitleNotes" class="invalid-feedback"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="DOI" class="form-label"></label> 
                (<a href="https://www.doi.org/the-identifier/what-is-a-doi/" target="_blank">what-is-a-doi
                    <sup><i class="bi bi-box-arrow-up-right"></i></sup>
                </a>)
                <input asp-for="DOI" class="form-control" />
                <span asp-validation-for="DOI" class="invalid-feedback"></span>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-floating ">
                        <input asp-for="FirstName" class="form-control" />
                        <label asp-for="FirstName" class="form-label"></label>
                        <span asp-validation-for="FirstName" class="invalid-feedback"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-floating ">
                        <input asp-for="LastName" class="form-control" />
                        <label asp-for="LastName" class="form-label"></label>
                        <span asp-validation-for="LastName" class="invalid-feedback"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="AuthorNotes" class="form-label"></label>
                <textarea asp-for="AuthorNotes" class="form-control" rows="6"></textarea>
                <span asp-validation-for="AuthorNotes" class="invalid-feedback"></span>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsSection"/> @Html.DisplayNameFor(model => model.IsSection)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsTheme"/> @Html.DisplayNameFor(model => model.IsTheme)
                </label>
            </div>
            
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-floating">
                        <input asp-for="StartingPage" class="form-control" readonly="readonly"/>
                        <label asp-for="StartingPage" class="form-label"></label>
                        <span asp-validation-for="StartingPage" class="invalid-feedback"></span>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-floating">
                        <input asp-for="LastPage" class="form-control" readonly="readonly" />
                        <label asp-for="LastPage" class="form-label"></label>
                        <span asp-validation-for="LastPage" class="invalid-feedback"></span>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-floating">
                        <select asp-for="LanguageId" asp-items="@Model.Languages" class="form-select"></select>
                        <label asp-for="LanguageId" class="form-label"></label>
                        <span asp-validation-for="LanguageId" class="invalid-feedback"></span>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-floating">
                        <select asp-for="IssueId" asp-items="@Model.Issues" class="form-select"></select>
                        <label asp-for="IssueId" class="form-label"></label>
                        <span asp-validation-for="IssueId" class="invalid-feedback"></span>
                    </div>
                </div>
            </div>

            <hr/>

            <div class="text-end">
                <a id="submit-delete-form" class="btn btn-lg btn-danger submit-link" href="#">
                    @HtmlLocalizer["Delete_Button_Label"]
                </a>

                <button id="change-password-button" type="submit" class="w-50 btn btn-lg btn-primary">
                    @HtmlLocalizer["Save_Button_Label"]
                </button>
            </div>

        </form>
        
        <form id="delete-form" asp-action="Delete">
            <input type="hidden" asp-for="Id" />
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScripts"/>

    <script>
        window.addEventListener('DOMContentLoaded', (event) => {
            document.getElementById('submit-delete-form').addEventListener('click', (e) => {

                e.preventDefault();
                e.stopPropagation();
                e.stopImmediatePropagation();

                Swal.fire({

                    icon: "question",
                    title: "Are you sure?",
                    text: "The source will be deleted.",
                    showCancelButton: true,
                    cancelButtonColor: "#d33"

                }).then((result) => {
                    if (!result.isConfirmed) {
                        return;
                    }

                    window.showPreloader();

                    document.getElementById('delete-form').submit();
                });
            })
        });
    </script>
}
