@model SourceUpdateViewModel

@* TODO: Localize *@

@{
    ViewData["Title"] = "Edit";
}

@section Breadcrumbs {
    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>@ViewData["Title"]</h2>
                <ol>
                    <li>
                        <a href="/">@HtmlLocalizer["NavItem_Home"]</a>
                    </li>
                    <li>
                        <a asp-area="Identity" asp-page="/Account/Manage/Administration">@HtmlLocalizer["ManageNavItem_Administration"]</a>
                    </li>
                    <li>
                        <a asp-action="Admin">@HtmlLocalizer["List_Label"]</a>
                    </li>
                    <li>
                        #@Model.Id
                    </li>
                </ol>
            </div>

        </div>
    </section>
    <!-- End Breadcrumbs -->
}

<div class="row">
    <div class="col-lg-12">
        <form asp-action="Edit">
            
            <h3>@HtmlLocalizer["Source_EditPage_SubTitle"]</h3>
            
            <ul class="list-operations">
                <li>
                    <i class="bi bi-chevron-double-left"></i>
                    <a asp-action="Admin">@HtmlLocalizer["Source_AdminPage_Title"]</a>
                </li>
            </ul>

            <hr />

            <div asp-validation-summary="All" class="invalid-feedback"></div>

            <input type="hidden" asp-for="Id"/>
            <input type="hidden" asp-for="IssueId" />
            
            <div class="form-group form-check text-end">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsTheme" /> @Html.DisplayNameFor(model => model.IsTheme)
                </label>
            </div>

            <div class="form-floating ">
                <input asp-for="Title" class="form-control" />
                <label asp-for="Title" class="form-label"></label>
                <span asp-validation-for="Title" class="invalid-feedback"></span>
            </div>
            
            <div class="form-group form-check text-end">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsSection" /> @Html.DisplayNameFor(model => model.IsSection)
                </label>
            </div>

            <div class="form-group">
                <label asp-for="TitleNotes" class="form-label"></label>
                <textarea asp-for="TitleNotes" class="form-control" rows="6"></textarea>
                <span asp-validation-for="TitleNotes" class="invalid-feedback"></span>
            </div>

            <div class="form-group">
                <label asp-for="DOI" class="form-label"></label> 
                (<a href="https://www.doi.org/the-identifier/what-is-a-doi/" target="_blank">what-is-a-doi
                    <sup><i class="bi bi-box-arrow-up-right"></i></sup>
                </a>)
                <input asp-for="DOI" class="form-control" />
                <span asp-validation-for="DOI" class="invalid-feedback"></span>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-floating ">
                        <input asp-for="FirstName" class="form-control" />
                        <label asp-for="FirstName" class="form-label"></label>
                        <span asp-validation-for="FirstName" class="invalid-feedback"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-floating ">
                        <input asp-for="LastName" class="form-control" />
                        <label asp-for="LastName" class="form-label"></label>
                        <span asp-validation-for="LastName" class="invalid-feedback"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="AuthorNotes" class="form-label"></label>
                <textarea asp-for="AuthorNotes" class="form-control" rows="6"></textarea>
                <span asp-validation-for="AuthorNotes" class="invalid-feedback"></span>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label asp-for="StartingPdfPage" class="form-label"></label>
                        <input asp-for="StartingPdfPage" class="form-control" readonly="readonly" />
                        <span asp-validation-for="StartingPdfPage" class="invalid-feedback"></span>
                    </div>
                </div>
                
                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="mb-3">
                            <label asp-for="PdfFile" class="form-label"></label>
                            <div class="input-group">
                                <input asp-for="PdfFile" class="form-control" accept=".pdf" readonly="readonly" disabled="disabled" aria-describedby="download-source" />
                                <a href="@Url.Action("LoadSourceDocument", "Document", new { sourceId = Model.Id })" class="btn btn-outline-secondary" id="download-source" target="_blank">
                                    @HtmlLocalizer["Download_Button_Label"]
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label asp-for="LastPdfPage" class="form-label"></label>
                        <input asp-for="LastPdfPage" class="form-control" readonly="readonly" />
                        <span asp-validation-for="LastPdfPage" class="invalid-feedback"></span>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-sm-3">
                    <div class="form-floating">
                        <input asp-for="StartingIndexPage" class="form-control" />
                        <label asp-for="StartingIndexPage" class="form-label"></label>
                        <span asp-validation-for="StartingIndexPage" class="invalid-feedback"></span>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-floating">
                        <select asp-for="LanguageId" asp-items="@Model.Languages" class="form-select"></select>
                        <label asp-for="LanguageId" class="form-label"></label>
                        <span asp-validation-for="LanguageId" class="invalid-feedback"></span>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-floating text-end">
                        <div class="input-group">
                            <select asp-for="IssueId" asp-items="@Model.Issues" class="form-select" disabled="disabled"></select>
                            <a type="button" href="@Url.Action("Details", "Issue", new { id = Model.IssueId })" class="btn btn-outline-secondary" target="_blank">@HtmlLocalizer["SourceCreate_IssueId"]</a>
                        </div>
                        
                        @{
                            var chosenIssue = Model.Issues.First(x => x.Selected).Text;
                            var issueDetailsLink = Url.Action("Details", "Issue", new { id = Model.IssueId });
                            var sourceIssueLink = Url.RouteUrl(
                                routeName: "LoadIssueDocument", 
                                values: new
                                {
                                    controller = "Document",
                                    action = "LoadIssueDocument",
                                    issueId = Model.IssueId
                                },
                                protocol: Context.Request.Scheme,
                                host: Context.Request.Host.Value,
                                fragment: $"page={Model.StartingPdfPage}"
                            );
                        }

                        <span class="text-muted">
                            @HtmlLocalizer["SourceSuggestion_IssueInformation_Template", issueDetailsLink!, chosenIssue, sourceIssueLink!, $"{Model.StartingIndexPage ?? Model.StartingPdfPage}"]
                        </span>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <div class="form-group">
                        <label asp-for="LastUpdated" class="form-label"></label>
                        <input asp-for="LastUpdated" class="form-control" readonly="readonly" />
                        <span asp-validation-for="LastUpdated" class="invalid-feedback"></span>
                        
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 offset-lg-6">
                    <div class="form-group">
                        <label asp-for="DateCreated" class="form-label"></label>
                        <input asp-for="DateCreated" class="form-control" readonly="readonly" />
                        <span asp-validation-for="DateCreated" class="invalid-feedback"></span>
                    </div>
                </div>
            </div>

            <hr/>

            <div class="text-end">
                <a id="submit-delete-form" class="btn btn-lg btn-danger submit-link" href="#">
                    @HtmlLocalizer["Delete_Button_Label"]
                </a>

                <button id="change-password-button" type="submit" class="w-50 btn btn-lg btn-primary">
                    @HtmlLocalizer["Save_Button_Label"]
                </button>
            </div>

        </form>
        
        <form id="delete-form" asp-action="Delete">
            <input type="hidden" asp-for="Id" />
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScripts"/>

    <script>
        window.addEventListener('DOMContentLoaded', (event) => {
            document.getElementById('submit-delete-form').addEventListener('click', (e) => {

                e.preventDefault();
                e.stopPropagation();
                e.stopImmediatePropagation();

                Swal.fire({

                    icon: "question",
                    title: "Are you sure?",
                    text: "The source will be deleted.",
                    showCancelButton: true,
                    cancelButtonColor: "#d33"

                }).then((result) => {
                    if (!result.isConfirmed) {
                        return;
                    }

                    window.showPreloader();

                    document.getElementById('delete-form').submit();
                });
            })
        });
    </script>
}
